

body{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    width:100%;
}


.parallax {
  /* The image used */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/2874998/pexels-photo-2874998.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");;

  /* Set a specific height */
  min-height: 470px;
  width:100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}






















*,::after,::before{box-sizing:border-box;}
section{
  display:block;}
h3,h5,h6{margin-top:0;}
p{margin-top:0;margin-bottom:1rem;}

h3,h5,h6 {
  margin-bottom:.5rem;
  font-family:inherit;
  font-weight:400;
  line-height:1.5;
  color:#32325d;}
h3{font-size:1.75rem;}
h5{font-size:1.25rem;}
h6{font-size:1rem;}
.display-3{font-size:2.1875rem;font-weight:600;line-height:1.5;}
.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
@media (min-width:576px){
.container{max-width:540px;}
}
@media (min-width:768px){
.container{max-width:720px;}
}
@media (min-width:992px){
.container{max-width:960px;}
}
@media (min-width:1200px){
.container{max-width:1040px;}
}
.row{display:flex;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;}
.col-lg-3,.col-lg-6,.col-md-8{position:relative;width:100%;padding-left:15px;}
@media (min-width:768px){
.col-md-8{flex:0 0 66.6666666667%;max-width:66.6666666667%;}
}
@media (min-width:992px){
.col-lg-3{flex:0 0 25%;max-width:25%;}
.col-lg-6{flex:0 0 50%;max-width:50%;}
}

.card{display:flex;flex-direction:column;min-width:0;word-wrap:break-word;background-color:#fff;background-clip:border-box;border-radius:.25rem;}
.card-body{flex:1 1 auto;padding:1.5rem;}
.card-title{margin-bottom:1.25rem;}
.align-items-center{align-items:center!important;}
.mt-1{margin-top:.25rem!important;}
.mt-4{margin-top:1.5rem!important;}
.mb-5{margin-bottom:3rem!important;}
@media print{
*,::after,::before{text-shadow:none!important;box-shadow:none!important;}
h3,p{orphans:3;widows:3;}
h3{page-break-after:avoid;}
.container{min-width:992px!important;}
}
.opacity-8{opacity:0.8!important}

.opacity-7{opacity:.9!important;}
.text-white{color:#fff!important;}
.btn{position:relative;text-transform:uppercase;will-change:transform;letter-spacing:.025em;font-size:.875rem;}
.btn:hover{box-shadow:0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);transform:translateY(-1px);}
.btn-inner--icon i:not(.fa){position:relative;}
.btn-icon .btn-inner--text:not(:last-child){margin-right:.75em;}
.card{position:relative;}
p{font-size:1rem;font-weight:300;line-height:1.7;}
.lead{font-size:1.25rem;font-weight:300;line-height:1.7;margin-top:1.5rem;}
.card-blog{overflow:hidden;}
.card-background{background-position:center center;background-size:cover;text-align:center;}
.card-background .card-body{position:relative;z-index:2;min-height:330px;padding-top:60px;padding-bottom:60px;}
.card-background .card-body .content-bottom{position:absolute;bottom:10px;text-align:left; margin-right:1rem;margin-left: -.5rem;}
.card-background.card-blog{overflow:hidden;height:330px;}
.card-background .full-background{background-position:center center;background-size:cover;text-align:center;margin-bottom:30px;width:100%;height:100%;position:absolute;border-radius:.3rem;backface-visibility:hidden;-webkit-backface-visibility:hidden;transition:all 1s cubic-bezier(.2,1,.22,1);-webkit-transition:1s cubic-bezier(.2,1,.22,1);}
.card-background[data-animation=zooming]:hover .full-background{transform:scale(1.07);-webkit-transform:scale(1.07);}
.card-background[data-animation=zooming]{transition:all .3s cubic-bezier(.2,1,.22,1);-webkit-transition:.3s cubic-bezier(.2,1,.22,1);}
.card-background[data-animation=zooming] a:not(.btn){height:100%;}
.card-background[data-animation=zooming] .card-body{padding-bottom:10px;margin:initial;height:100%;}
.card-background[data-animation=zooming]:hover{transform:scale(1.07);-webkit-transform:scale(1.07);z-index:2;}
.card-background .card-title{color:#fff;}
.card-background:after{position:absolute;top:0;bottom:0;left:0;height:100%;z-index:1;width:100%;display:block;content:"";background:rgba(0,0,0,.6);}
.card{margin-bottom:10px;box-shadow:0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);border:0;}
.card .card-title{margin-bottom:.5rem;}


@media (max-width:575.98px){
.card-background[data-animation=zooming] a:not(.btn){height:auto!important;}
}
.sections-page [class*=blogs-]{padding:80px 0;}



























h5{margin-top:0;}
a{color:#5e72e4;text-decoration:none;background-color:transparent;}
a:hover{color:#233dd2;text-decoration:none;}
img{vertical-align:middle;border-style:none;}
button{border-radius:0;}
button:focus{outline:dotted 1px;outline:-webkit-focus-ring-color auto 5px;}
button{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button{overflow:visible;}
button{text-transform:none;}
[type=button],button{-webkit-appearance:button;}
[type=button]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none;}
.h5,h5{margin-bottom:.5rem;font-family:inherit;font-weight:400;line-height:1.5;color:#32325d;}
.h5,h5{font-size:1.25rem;}
.btn{display:inline-block;font-weight:600;color:#525f7f;text-align:center;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:.625rem 1.25rem;line-height:1.5;border-radius:.25rem;transition:all .15s ease;}
@media (prefers-reduced-motion:reduce){
.btn{transition:none;}
}
.btn:hover{color:#525f7f;text-decoration:none;}
.btn:focus{outline:0;box-shadow:0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);}
.btn:disabled{opacity:.65;box-shadow:none;}
.btn-success{color:#fff;background-color:#2dce89;border-color:#2dce89;box-shadow:0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);}
.btn-success:hover{color:#fff;background-color:#26af74;border-color:#24a46d;}
.btn-success:focus{box-shadow:0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08),0 0 0 0 rgba(77,213,155,.5);}
.btn-success:disabled{color:#fff;background-color:#2dce89;border-color:#2dce89;}
.btn-lg{padding:.875rem 1rem;font-size:.875rem;line-height:1.5;border-radius:.3rem;}
.btn-block{display:block;width:100%;}
.card{display:flex;flex-direction:column;min-width:0;word-wrap:break-word;background-color:#fff;background-clip:border-box;border-radius:.25rem;}
.card-body{flex:1 1 auto;padding:1.5rem;}
.card-header{padding:1.25rem 1.5rem;margin-bottom:0;background-color:#f6f9fc;border-bottom:.0625rem solid rgba(0,0,0,.05);}
.rounded-circle{border-radius:50%!important;}
.d-flex{display:flex!important;}
.justify-content-center{justify-content:center!important;}
.mr-2{margin-right:.5rem!important;}
.mt-3{margin-top:1rem!important;}
.pt-0{padding-top:0!important;}
.text-center{text-align:center!important;}
.font-weight-light{font-weight:300!important;}
@media print{
*,::after,::before{text-shadow:none!important;box-shadow:none!important;}
a:not(.btn){text-decoration:underline;}
img{page-break-inside:avoid;}
}
.font-weight-300{font-weight:300!important;}
.btn{position:relative;text-transform:uppercase;will-change:transform;letter-spacing:.025em;font-size:.875rem;}
.btn:hover{box-shadow:0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);transform:translateY(-1px);}
.card{position:relative;}
.description{font-size:.875rem;}
.heading{letter-spacing:.025em;font-size:.95rem;text-transform:uppercase;font-weight:400;}
.pattern{width:100%;}
.card-profile[data-background=cover]{overflow:hidden;}
.card-profile[data-background=cover] .pattern{position:absolute;top:-38%;}
.card-profile .card-header{background-position:50%;background-size:cover;margin-bottom:60px;width:100%;height:150px;border:none;}
.card-profile .card-avatar{max-width:130px;max-height:130px;margin:70px auto 0;}
.card-profile .card-avatar img{width:100%;border:3px solid #fff;transform:scale(1);border-radius:50%!important;transition:all .15s ease;}
.card-profile .card-avatar img:hover{transform:scale(1.03);}
.card-profile-stats{padding:1rem 0;}
.card-profile-stats>div{text-align:center;margin-right:1rem;padding:.875rem;}
.card-profile-stats>div:last-child{margin-right:0;}
.card-profile-stats>div .heading{font-size:1.1rem;font-weight:700;display:block;}
.card-profile-stats>div .description{font-size:.875rem;color:#adb5bd;}
.card{margin-bottom:30px;box-shadow:0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);border:0;}
.card .card-header{background-color:#fff;}
/*! CSS Used fontfaces */














h4{margin-top:0;}
p{margin-top:0;margin-bottom:1rem;}
a{color:#5e72e4;text-decoration:none;background-color:transparent;}
a:hover{color:#233dd2;text-decoration:none;}
img{vertical-align:middle;border-style:none;}
h4{margin-bottom:.5rem;font-family:inherit;font-weight:400;line-height:1.5;color:#32325d;}
h4{font-size:1.5rem;}
.card-body{flex:1 1 auto;padding:1.5rem;}
.card-title{margin-bottom:1.25rem;}
.card-footer{padding:1.25rem 1.5rem;background-color:#f6f9fc!important;border-top:.0625rem solid rgba(0,0,0,.05);}
.card-footer:last-child{border-radius:0 0 calc(.25rem - .0625rem) calc(.25rem - .0625rem);}
@media print{
*,::after,::before{text-shadow:none!important;box-shadow:none!important;}
a:not(.btn){text-decoration:underline;}
img{page-break-inside:avoid;}
p{orphans:3;widows:3;}
}
.opacity-8{opacity:.8!important;}
.avatar{color:#fff;background-color:#adb5bd;display:inline-flex;align-items:center;justify-content:center;font-size:1rem;border-radius:50%;height:48px;width:48px;}
p{font-size:1rem;font-weight:300;line-height:1.7;}
.card-blog.card-plain .card-body{padding:15px 0;}
.card-body .card-footer{position:relative;bottom:0;left:0;background-color:transparent!important;width:100%;padding:5px 0 0!important;border-top:none!important;}
.stats{font-size:.8em;}
.stats i{margin-right:5px;position:relative;top:2px;}
.stats.stats-right{float:right;line-height:30px;position:relative;}
.author{position:relative;display:inline-block;text-align:left;}
.author .avatar{width:30px;height:30px;overflow:hidden;border-radius:50%;margin-right:5px;}
.card .card-title{margin-bottom:.5rem;}
.card .card-footer{background-color:#fff;}
.blogs-5 .card .card-footer .author,.blogs-5 .card .card-footer .stats{color:#172b4d;}
