
section{width:100%; float:left;}
.banner-section{background-image:url("https://static.pexels.com/photos/373912/pexels-photo-373912.jpeg"); background-size:cover; height: 380px; left: 0; position: absolute; top: 0; background-position:0;}
.post-title-block{padding:100px 0;}
.post-title-block h1 {color: #fff; font-size: 85px; font-weight: bold; text-transform: capitalize;}
.post-title-block li{font-size:20px; color: #fff;}
.image-block{float:left; width:100%; margin-bottom:10px;}







body{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    width:100%;
}


.parallax {
  /* The image used */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/2874998/pexels-photo-2874998.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");;

  /* Set a specific height */
  min-height: 530px;
  width:100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}





h5{margin-top:0;}
a{color:#5e72e4;text-decoration:none;background-color:transparent;}
a:hover{color:#233dd2;text-decoration:none;}
.h4,h5{margin-bottom:.5rem;font-family:inherit;font-weight:400;line-height:1.5;color:#32325d;}
.h4{font-size:1.5rem;}
h5{font-size:1.25rem;}
.row{display:flex;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;}
.col{position:relative;width:100%;padding-right:15px;padding-left:15px;}
.col{flex-basis:0;flex-grow:1;max-width:100%;}
.btn{display:inline-block;font-weight:600;color:#525f7f;text-align:center;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:.625rem 1.25rem;line-height:1.5;border-radius:.25rem;transition:all .15s ease;}
@media (prefers-reduced-motion:reduce){
.btn{transition:none;}
}
.btn:hover{color:#525f7f;text-decoration:none;}
.btn:focus{outline:0;box-shadow:0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);}
.btn:disabled{opacity:.65;box-shadow:none;}
.btn-info{color:#fff;background-color:#11cdef;border-color:#11cdef;box-shadow:0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);}
.btn-info:hover{color:#fff;background-color:#0eafcc;border-color:#0da5c0;}
.btn-info:focus{box-shadow:0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08),0 0 0 0 rgba(53,213,241,.5);}
.btn-info:disabled{color:#fff;background-color:#11cdef;border-color:#11cdef;}
.btn-default{color:#fff;background-color:#172b4d;border-color:#172b4d;box-shadow:0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);}
.btn-default:hover{color:#fff;background-color:#0e1b30;border-color:#0b1526;}
.btn-default:focus{box-shadow:0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08),0 0 0 0 rgba(58,75,104,.5);}
.btn-default:disabled{color:#fff;background-color:#172b4d;border-color:#172b4d;}
.btn-sm{padding:.25rem .5rem;line-height:1.5;border-radius:.25rem;}
.card{display:flex;flex-direction:column;min-width:0;word-wrap:break-word;background-color:#fff;background-clip:border-box;border-radius:.25rem;}
.card-body{flex:1 1 auto;padding:1.5rem;}
.card-header{padding:1.25rem 1.5rem;margin-bottom:0;background-color:#f6f9fc;border-bottom:.0625rem solid rgba(0,0,0,.05);}
.card-header:first-child{border-radius:calc(.25rem - .0625rem) calc(.25rem - .0625rem) 0 0;}
.bg-info{background-color:#11cdef!important;}
.rounded-circle{border-radius:50%!important;}
.d-flex{display:flex!important;}
.justify-content-center{justify-content:center!important;}
.justify-content-between{justify-content:space-between!important;}
.float-right{float:right!important;}
.mr-2{margin-right:.5rem!important;}
.mt-3{margin-top:1rem!important;}
.mr-4{margin-right:1.5rem!important;}
.pt-0{padding-top:0!important;}
.text-center{text-align:center!important;}
.font-weight-light{font-weight:300!important;}
@media print{
*,::after,::before{text-shadow:none!important;box-shadow:none!important;}
a:not(.btn){text-decoration:underline;}
img{page-break-inside:avoid;}
}
.font-weight-300{font-weight:300!important;}
.btn{position:relative;text-transform:uppercase;will-change:transform;letter-spacing:.025em;font-size:.875rem;}
.btn:hover{box-shadow:0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);transform:translateY(-1px);}
.btn:not(:last-child){margin-right:.5rem;}
.btn-sm{font-size:.75rem;}
.card{position:relative;}
.description{font-size:.875rem;}
.heading{letter-spacing:.025em;font-size:.95rem;text-transform:uppercase;font-weight:400;}
.card-profile .card-header{background-position:50%;background-size:cover;margin-bottom:60px;width:100%;height:150px;border:none;}
.card-profile .card-avatar{max-width:130px;max-height:130px;margin:70px auto 0;}
.card-profile .card-avatar img{width:100%;border:3px solid #fff;transform:scale(1);border-radius:50%!important;transition:all .15s ease;}
.card-profile .card-avatar img:hover{transform:scale(1.03);}
.card-profile-stats{padding:1rem 0;}
.card-profile-stats>div{text-align:center;margin-right:1rem;padding:.875rem;}
.card-profile-stats>div:last-child{margin-right:0;}
.card-profile-stats>div .heading{font-size:1.1rem;font-weight:700;display:block;}
.card-profile-stats>div .description{font-size:.875rem;color:#adb5bd;}
.card{margin-bottom:30px;box-shadow:0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);border:0;}
.card .card-header{background-color:#fff;}
/*! CSS Used fontfaces */
@font-face{font-family:NucleoIcons;src:url(https://demos.creative-tim.com/argon-design-system-pro-angular/nucleo-icons.c1733565b32b58567630.eot);src:url(https://demos.creative-tim.com/argon-design-system-pro-angular/nucleo-icons.c1733565b32b58567630.eot) format('embedded-opentype'),url(https://demos.creative-tim.com/argon-design-system-pro-angular/nucleo-icons.426439788ec5ba772cdf.woff2) format('woff2'),url(https://demos.creative-tim.com/argon-design-system-pro-angular/nucleo-icons.2569aaea6eaaf8cd210d.woff) format('woff'),url(https://demos.creative-tim.com/argon-design-system-pro-angular/nucleo-icons.f82ec6ba2dc4181db2af.ttf) format('truetype'),url(https://demos.creative-tim.com/argon-design-system-pro-angular/nucleo-icons.0b8a30b10cbe7708d5f3.svg) format('svg');font-weight:400;font-style:normal;}
