<nav id="nav" style="z-index:5;padding-top:0.2%;padding-bottom:0.05%;border:none;" class="navpic">
  <div class="logo">
    <span id="wander">WANDERMATE</span>
  </div>
  <div class="menu"  style="overflow:visible!important;">
    <ul id="ul" style="margin-left:60%;margin-top:1.7%;">
      <center>
       <li><a class="items" href="/"><i class="fas fa-home"></i></a></li>
       <li><a class="items" href="/blog"><i class="fas fa-blog"></i></a></li>
       <li><a class="items" href="#"><i class="fas fa-bell"></i></a></li>
       <li class="dropdown" style="margin-left:-4%;">
           <button style="color:white;font-size:16px;margin-top:-2%;" class="btn btn-outline-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <i class="far fa-user-circle"><small><b>Profile</b></small></i>
           </button>
           <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
             <a style="padding-top:2px;" class="dropdown-item" href="/users">Profile</a>
             <a style="padding-top:2px;" class="dropdown-item" href="#">WanderList</a>
             <a style="padding-top:2px;" class="dropdown-item" href="/users/logout">Logout</a>
           </div>
       </li>
     </center>
    </ul>
  </div>
</nav>
