/*! CSS Used from: https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons */
.material-icons{font-family:'Material Icons';font-weight:normal;font-style:normal;font-size:24px;line-height:1;letter-spacing:normal;text-transform:none;display:inline-block;white-space:nowrap;word-wrap:normal;direction:ltr;-webkit-font-feature-settings:'liga';-webkit-font-smoothing:antialiased;}
/*! CSS Used from: https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css */
.pull-right{float:right;}
.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;}
/*! CSS Used from: https://demos.creative-tim.com/material-kit-pro/assets/css/material-kit.min.css?v=2.2.0 */
.card{font-size:.875rem;}
@media print{
*,:after,:before{text-shadow:none!important;box-shadow:none!important;}
a:not(.btn){text-decoration:underline;}
img{page-break-inside:avoid;}
h2,h3,p{orphans:3;widows:3;}
h2,h3{page-break-after:avoid;}
.container,body{min-width:992px!important;}
.navbar{display:none;}
}
*,:after,:before{box-sizing:border-box;}
footer,nav{display:block;}
body{margin:0;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:1rem;font-weight:400;line-height:1.5;color:#212529;text-align:left;background-color:#fafafa;}
[tabindex="-1"]:focus{outline:0!important;}
h2,h3,h4,h5,h6{margin-top:0;margin-bottom:.5rem;}
p{margin-top:0;margin-bottom:1rem;}
ul{margin-bottom:1rem;}
ul{margin-top:0;}
b{font-weight:bolder;}
a{text-decoration:none;background-color:transparent;-webkit-text-decoration-skip:objects;}
a:hover{color:#0a6ebd;text-decoration:underline;}
a:not([href]):not([tabindex]),a:not([href]):not([tabindex]):focus,a:not([href]):not([tabindex]):hover{color:inherit;text-decoration:none;}
a:not([href]):not([tabindex]):focus{outline:0;}
img{vertical-align:middle;border-style:none;}
label{display:inline-block;margin-bottom:.5rem;}
button{border-radius:0;}
button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color;}
button,select{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button{overflow:visible;}
button,select{text-transform:none;}
button,html [type=button]{-webkit-appearance:button;}
[type=button]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none;}
[hidden]{display:none!important;}
h2,h3,h4,h5,h6{margin-bottom:.5rem;font-family:inherit;font-weight:400;line-height:1.2;color:inherit;}
h2{font-size:2rem;}
h3{font-size:1.75rem;}
h4{font-size:1.5rem;}
h5{font-size:1.25rem;}
h6{font-size:1rem;}
.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
@media (min-width:576px){
.container{max-width:540px;}
}
@media (min-width:768px){
.container{max-width:720px;}
}
@media (min-width:992px){
.container{max-width:960px;}
}
@media (min-width:1200px){
.container{max-width:1140px;}
}
.row{display:flex;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;}
.col-lg-3,.col-md-4,.col-md-6,.col-sm-6{position:relative;width:100%;min-height:1px;padding-right:15px;padding-left:15px;}
@media (min-width:576px){
.col-sm-6{flex:0 0 50%;max-width:50%;}
}
@media (min-width:768px){
.col-md-4{flex:0 0 33.333333%;max-width:33.333333%;}
.col-md-6{flex:0 0 50%;max-width:50%;}
}
@media (min-width:992px){
.col-lg-3{flex:0 0 25%;max-width:25%;}
}
.btn{display:inline-block;text-align:center;white-space:nowrap;vertical-align:middle;user-select:none;border:1px solid transparent;padding:.46875rem 1rem;font-size:1rem;line-height:1.5;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
.btn:focus,.btn:hover{text-decoration:none;}
.btn:focus{outline:0;box-shadow:0 0 0 .2rem rgba(33,150,243,.25);}
.btn:disabled{opacity:.65;box-shadow:none;}
.btn-link{font-weight:400;color:#9c27b0;background-color:transparent;}
.btn-link:hover{color:#0a6ebd;background-color:transparent;}
.btn-link:focus,.btn-link:hover{text-decoration:underline;border-color:transparent;}
.btn-link:focus{box-shadow:none;}
.btn-link:disabled{color:#999;}
.btn-block{display:block;width:100%;}
.collapse{display:none;}
.dropdown{position:relative;}
.dropdown-toggle:after{display:inline-block;width:0;height:0;margin-left:.255em;vertical-align:.255em;content:"";border-top:.3em solid;border-right:.3em solid transparent;border-bottom:0;border-left:.3em solid transparent;}
.dropdown-toggle:empty:after{margin-left:0;}
.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;float:left;min-width:10rem;padding:.5rem 0;margin:.125rem 0 0;font-size:1rem;color:#212529;text-align:left;list-style:none;background-color:#fff;background-clip:padding-box;border:1px solid rgba(0,0,0,.15);border-radius:.25rem;box-shadow:0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);}
.dropdown-item{display:block;width:100%;padding:.625rem 1.25rem;clear:both;font-weight:400;color:#212529;text-align:inherit;white-space:nowrap;background-color:transparent;border:0;}
.dropdown-item:focus,.dropdown-item:hover{color:#16181b;text-decoration:none;background-color:#f8f9fa;}
.dropdown-item.active,.dropdown-item:active{color:#fff;text-decoration:none;background-color:#2196f3;}
.dropdown-item:disabled{color:#6c757d;background-color:transparent;}
.dropdown-menu.show{display:block;}
.nav{display:flex;flex-wrap:wrap;padding-left:0;margin-bottom:0;list-style:none;}
.nav-link{display:block;padding:.5rem 1rem;}
.nav-link:focus,.nav-link:hover{text-decoration:none;}
.tab-content>.tab-pane{display:none;}
.tab-content>.active{display:block;}
.navbar{position:relative;padding:.5rem 1rem;}
.navbar,.navbar>.container{display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between;}
.navbar-brand{display:inline-block;padding-top:.3125rem;padding-bottom:.3125rem;margin-right:1rem;font-size:1.25rem;line-height:inherit;white-space:nowrap;}
.navbar-brand:focus,.navbar-brand:hover{text-decoration:none;}
.navbar-nav{display:flex;flex-direction:column;padding-left:0;margin-bottom:0;list-style:none;}
.navbar-nav .nav-link{padding-right:0;padding-left:0;}
.navbar-nav .dropdown-menu{position:static;float:none;}
.navbar-collapse{flex-basis:100%;flex-grow:1;align-items:center;}
.navbar-toggler{padding:.25rem .75rem;font-size:1.25rem;line-height:1;background-color:transparent;border:1px solid transparent;border-radius:.25rem;}
.navbar-toggler:focus,.navbar-toggler:hover{text-decoration:none;}
.navbar-toggler-icon{display:inline-block;width:1.5em;height:1.5em;vertical-align:middle;content:"";background:no-repeat 50%;background-size:100% 100%;}
@media (max-width:991.98px){
.navbar-expand-lg>.container{padding-right:0;padding-left:0;}
}
@media (min-width:992px){
.navbar-expand-lg{flex-flow:row nowrap;justify-content:flex-start;}
.navbar-expand-lg .navbar-nav{flex-direction:row;}
.navbar-expand-lg .navbar-nav .dropdown-menu{position:absolute;}
.navbar-expand-lg .navbar-nav .nav-link{padding-right:.5rem;padding-left:.5rem;}
.navbar-expand-lg>.container{flex-wrap:nowrap;}
.navbar-expand-lg .navbar-collapse{display:flex!important;flex-basis:auto;}
.navbar-expand-lg .navbar-toggler{display:none;}
}
.card{position:relative;display:flex;flex-direction:column;min-width:0;word-wrap:break-word;background-color:#fff;background-clip:border-box;border:1px solid rgba(0,0,0,.12);border-radius:.25rem;}
.card-body{flex:1 1 auto;padding:1.25rem;}
.card-title{margin-bottom:.75rem;}
.card-header{padding:.75rem 1.25rem;margin-bottom:0;background-color:#fff;border-bottom:1px solid rgba(0,0,0,.12);}
.card-header:first-child{border-radius:calc(.25rem - 1px) calc(.25rem - 1px) 0 0;}
.card-footer{padding:.75rem 1.25rem;background-color:#fff;border-top:1px solid rgba(0,0,0,.12);}
.card-footer:last-child{border-radius:0 0 calc(.25rem - 1px) calc(.25rem - 1px);}
.justify-content-between{justify-content:space-between!important;}
.float-left{float:left!important;}
.float-right{float:right!important;}
.fixed-top{top:0;}
.fixed-top{position:fixed;right:0;left:0;z-index:1030;}
.sr-only{white-space:nowrap;clip-path:inset(50%);}
.mb-0{margin-bottom:0!important;}
.ml-auto{margin-left:auto!important;}
.text-center{text-align:center!important;}
.text-muted{color:#6c757d!important;}
body{background-color:#fff;}
a:focus,button:focus{outline:none;}
.btn{position:relative;padding:12px 30px;margin:.3125rem 1px;font-size:.75rem;font-weight:400;line-height:1.428571;text-decoration:none;text-transform:uppercase;letter-spacing:0;cursor:pointer;background-color:transparent;border:0;border-radius:.2rem;outline:0;transition:box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1);will-change:box-shadow,transform;}
.btn:active:focus,.btn:active:focus:focus,.btn:focus{outline:0;box-shadow:none!important;}
.btn.btn-rose{color:#fff;background-color:#e91e63;border-color:#e91e63;box-shadow:0 2px 2px 0 rgba(233,30,99,.14),0 3px 1px -2px rgba(233,30,99,.2),0 1px 5px 0 rgba(233,30,99,.12);}
.btn.btn-rose:focus,.btn.btn-rose:hover{color:#fff;background-color:#ea2c6d;border-color:#b8124a;}
.btn.btn-rose:active{color:#fff;background-color:#ea2c6d;border-color:#b8124a;box-shadow:0 2px 2px 0 rgba(233,30,99,.14),0 3px 1px -2px rgba(233,30,99,.2),0 1px 5px 0 rgba(233,30,99,.12);}
.btn.btn-rose:active:focus,.btn.btn-rose:active:hover{color:#fff;background-color:#ea2c6d;border-color:#7b0c32;}
.btn.btn-rose:disabled:focus,.btn.btn-rose:disabled:hover{background-color:#e91e63;border-color:#e91e63;}
.btn.btn-rose:active,.btn.btn-rose:focus,.btn.btn-rose:hover{box-shadow:0 14px 26px -12px rgba(233,30,99,.42),0 4px 23px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(233,30,99,.2);}
.btn.btn-rose.btn-link{box-shadow:none;}
.btn.btn-rose.btn-link,.btn.btn-rose.btn-link:active,.btn.btn-rose.btn-link:focus,.btn.btn-rose.btn-link:hover{background-color:transparent;color:#e91e63;}
.btn,.btn.btn-default{color:#fff;background-color:#999;border-color:#999;box-shadow:0 2px 2px 0 hsla(0,0%,60%,.14),0 3px 1px -2px hsla(0,0%,60%,.2),0 1px 5px 0 hsla(0,0%,60%,.12);}
.btn.btn-default:focus,.btn.btn-default:hover,.btn:focus,.btn:hover{color:#fff;background-color:#919191;border-color:#7a7a7a;}
.btn.btn-default:active,.btn:active{color:#fff;background-color:#919191;border-color:#7a7a7a;box-shadow:0 2px 2px 0 hsla(0,0%,60%,.14),0 3px 1px -2px hsla(0,0%,60%,.2),0 1px 5px 0 hsla(0,0%,60%,.12);}
.btn.btn-default:active:focus,.btn.btn-default:active:hover,.btn:active:focus,.btn:active:hover{color:#fff;background-color:#919191;border-color:#595959;}
.btn.btn-default:disabled:focus,.btn.btn-default:disabled:hover,.btn:disabled:focus,.btn:disabled:hover{background-color:#999;border-color:#999;}
.btn.btn-default:active,.btn.btn-default:focus,.btn.btn-default:hover,.btn:active,.btn:focus,.btn:hover{box-shadow:0 14px 26px -12px hsla(0,0%,60%,.42),0 4px 23px 0 rgba(0,0,0,.12),0 8px 10px -5px hsla(0,0%,60%,.2);}
.btn.btn-default.btn-link,.btn.btn-link{background-color:transparent;color:#999;box-shadow:none;}
.btn.btn-default.btn-link:active,.btn.btn-default.btn-link:focus,.btn.btn-default.btn-link:hover,.btn.btn-link:active,.btn.btn-link:focus,.btn.btn-link:hover{background-color:transparent;color:#999;}
.btn.btn-white,.btn.btn-white:focus,.btn.btn-white:hover{background-color:#fff;color:#999;}
.btn.btn-link:active,.btn.btn-link:focus,.btn.btn-link:hover{text-decoration:none!important;}
.btn.btn-round{border-radius:30px;}
.btn.btn-just-icon{font-size:24px;height:41px;min-width:41px;width:41px;padding:0;overflow:hidden;position:relative;line-height:41px;}
.btn.btn-just-icon .material-icons{margin-top:0;position:absolute;width:100%;transform:none;left:0;top:0;height:100%;line-height:41px;font-size:20px;}
.btn .material-icons{position:relative;display:inline-block;top:0;margin-top:-1em;margin-bottom:-1em;font-size:1.1rem;vertical-align:middle;}
body{background-color:#eee;color:#3c4858;font-weight:300;}
*{-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-tap-highlight-color:transparent;}
:focus{outline:0;}
a{color:#9c27b0;}
a:focus,a:hover{color:#89229b;text-decoration:none;}
a .material-icons{vertical-align:middle;}
.main{background:#fff;position:relative;z-index:3;}
label{font-size:14px;line-height:1.42857;color:#aaa;font-weight:400;}
.main-raised{margin:-60px 30px 0;border-radius:6px;box-shadow:0 16px 24px 2px rgba(0,0,0,.14),0 6px 30px 5px rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);}
.card-collapse .card-header a i,.navbar,.product-page .flexi-nav>li a{transition:all .15s ease 0s;}
.title{margin-top:30px;margin-bottom:25px;min-height:32px;}
@media (max-width:830px){
.main-raised{margin-left:10px;margin-right:10px;}
}
@media (max-width:375px){
.page-header{height:calc(100vh + 270px);}
.main.main-raised{margin-top:-30px;}
}
@media (max-width:375px){
.page-header{height:calc(100vh + 270px);}
.main.main-raised{margin-top:-30px;}
}
label{line-height:1.1;}
label{color:#aaa;}
label{font-size:.875rem;}
select{-moz-appearance:none;-webkit-appearance:none;}
.nav-link{text-transform:uppercase;}
.navbar-nav .nav-link{padding:.5321rem;font-size:.875rem;font-weight:400;}
.nav .nav-item{position:relative;}
.page-header{height:100vh;margin:0;padding:0;border:0;display:flex;align-items:center;}
.page-header{background-position:50%;background-size:cover;}
.page-header>.container{color:#fff;}
.header-filter{position:relative;}
.header-filter:after,.header-filter:before{position:absolute;z-index:1;width:100%;height:100%;display:block;left:0;top:0;content:"";}
.header-filter:before{background:rgba(0,0,0,.5);}
.header-filter .container{z-index:2;position:relative;}
footer{padding:.9375rem 0;text-align:center;display:flex;}
footer ul{margin-bottom:0;padding:0;list-style:none;}
footer ul li{display:inline-block;}
footer ul li a{color:inherit;padding:.9375rem;font-weight:500;font-size:12px;text-transform:uppercase;border-radius:3px;position:relative;display:block;}
footer ul li a,footer ul li a:hover{text-decoration:none;}
footer .copyright{padding:15px 0;}
footer .copyright .material-icons{font-size:18px;position:relative;top:3px;}
.navbar{border:0;border-radius:3px;padding:.625rem 0;margin-bottom:20px;color:#555;background-color:#fff!important;box-shadow:0 4px 18px 0 rgba(0,0,0,.12),0 7px 10px -5px rgba(0,0,0,.15);}
.navbar .dropdown-item:focus,.navbar .dropdown-item:hover{box-shadow:0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px hsla(0,0%,100%,.4);background-color:#fff;color:#555;}
.navbar .navbar-toggler .navbar-toggler-icon{background-color:#555;}
.navbar.fixed-top{border-radius:0;}
.navbar .navbar-nav .nav-item .nav-link{position:relative;color:inherit;padding:.9375rem;font-weight:400;font-size:12px;text-transform:uppercase;border-radius:3px;line-height:20px;}
.navbar .navbar-nav .nav-item .nav-link .material-icons{font-size:1.25rem;max-width:24px;margin-top:-1.1em;}
.navbar .navbar-nav .nav-item .nav-link:not(.btn) .material-icons{margin-top:-7px;top:3px;position:relative;margin-right:3px;}
.navbar .btn,.navbar .navbar-nav .nav-item .btn{margin-top:0;margin-bottom:0;}
.navbar .navbar-toggler{cursor:pointer;}
.navbar .navbar-toggler .navbar-toggler-icon{position:relative;width:22px;height:2px;vertical-align:middle;outline:0;display:block;border-radius:1px;}
.navbar .navbar-toggler .navbar-toggler-icon+.navbar-toggler-icon{margin-top:4px;}
.navbar .navbar-brand{position:relative;color:inherit;height:50px;font-size:1.125rem;line-height:30px;padding:.625rem 0;}
.navbar.navbar-transparent{background-color:transparent!important;box-shadow:none;padding-top:25px;color:#fff;}
.info{max-width:360px;margin:0 auto;padding:70px 0 30px;}
.info .icon{color:#999;}
.info .icon>i{font-size:3.85rem;}
.info .info-title{color:#3c4858;margin:1.75rem 0 .875rem;}
.info p{color:#999;}
.icon.icon-info{color:#00bcd4;}
.icon.icon-success{color:#4caf50;}
.icon.icon-rose{color:#e91e63;}
body,h2,h3,h4,h5,h6{font-family:Roboto,Helvetica,Arial,sans-serif;font-weight:300;line-height:1.5em;}
h2,h3{margin-top:20px;margin-bottom:10px;}
h4,h5,h6{margin-top:10px;margin-bottom:10px;}
html *{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
h2{font-size:2.25rem;line-height:1.5em;}
h3{font-size:1.5625rem;line-height:1.4em;}
h4{font-size:1.125rem;line-height:1.5em;}
h5{font-size:1.0625rem;line-height:1.55em;margin-bottom:15px;}
h6{font-size:.75rem;text-transform:uppercase;font-weight:500;}
p{font-size:14px;margin:0 0 10px;}
b{font-weight:700;}
.card-title,.info-title,.title{font-weight:700;font-family:Roboto Slab,Times New Roman,serif;}
.card-title,.card-title a,.info-title,.title{color:#3c4858;text-decoration:none;}
h2.title{margin-bottom:1rem;}
.card-description{color:#999;}
.text-rose{color:#e91e63!important;}
.dropdown:after{transform:rotate(0deg);}
.dropdown-menu{display:none;padding:.3125rem 0;border:0;opacity:0;transform:scale(0);transform-origin:0 0;will-change:transform,opacity;transition:transform .3s cubic-bezier(.4,0,.2,1),opacity .2s cubic-bezier(.4,0,.2,1);box-shadow:0 2px 5px 0 rgba(0,0,0,.26);}
.dropdown-menu.show{display:block;opacity:1;transform:scale(1);}
.dropdown-menu[x-placement=top-start]{transform-origin:0 100%;}
.dropdown-menu.dropdown-with-icons .dropdown-item{padding:.75rem 1.25rem .75rem .75rem;}
.dropdown-menu.dropdown-with-icons .dropdown-item .material-icons{vertical-align:middle;font-size:24px;position:relative;margin-top:-4px;top:1px;margin-right:12px;opacity:.5;}
.dropdown-menu .dropdown-item,.dropdown-menu li>a{position:relative;width:auto;display:flex;flex-flow:nowrap;align-items:center;color:#333;font-weight:400;text-decoration:none;font-size:.8125rem;border-radius:.125rem;margin:0 .3125rem;transition:all .15s linear;min-width:7rem;padding:.625rem 1.25rem;overflow:hidden;line-height:1.428571;text-overflow:ellipsis;word-wrap:break-word;}
@media (min-width:768px){
.dropdown-menu .dropdown-item,.dropdown-menu li>a{padding-right:1.5rem;padding-left:1.5rem;}
}
.dropdown-menu .dropdown-item:active,.dropdown-menu .dropdown-item:focus,.dropdown-menu .dropdown-item:hover,.dropdown-menu a.active,.dropdown-menu a:active,.dropdown-menu a:focus,.dropdown-menu a:hover{box-shadow:0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(156,39,176,.4);background-color:#9c27b0!important;color:#fff!important;}
.dropdown-toggle:after{will-change:transform;transition:transform .15s linear;transform:rotate(0deg);}
.ripple-container{position:absolute;top:0;left:0;z-index:1;width:100%;height:100%;overflow:hidden;pointer-events:none;border-radius:inherit;}
.section{padding:70px 0;}
.section{background-position:50%;background-size:cover;}
.card{border:0;margin-bottom:30px;margin-top:30px;border-radius:6px;color:rgba(0,0,0,.87);background:#fff;width:100%;box-shadow:0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);}
.card .card-category{margin-top:10px;}
.card .card-title{margin-top:.625rem;}
.card .card-body,.card .card-footer{padding:.9375rem 1.875rem;}
.card .card-body+.card-footer{padding-top:0;border:0;border-radius:6px;}
.card .card-footer{display:flex;align-items:center;background-color:transparent;border:0;}
.card .card-footer .stats{display:inline-flex;}
.card .card-footer .stats{color:#999;}
.card .card-footer .stats .material-icons{position:relative;top:3px;margin-right:3px;margin-left:3px;font-size:18px;}
.card .card-header{border-radius:3px;padding:1rem 15px;margin-left:15px;margin-right:15px;margin-top:-30px;border:0;background:linear-gradient(60deg,#eee,#bdbdbd);}
.card .card-header:not([class*=header-]){box-shadow:0 16px 38px -12px rgba(0,0,0,.56),0 4px 25px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);}
.card .card-header.card-header-image{position:relative;padding:0;z-index:1;margin-left:15px;margin-right:15px;margin-top:-30px;border-radius:6px;}
.card .card-header.card-header-image a{display:block;}
.card .card-header.card-header-image img{width:100%;border-radius:6px;pointer-events:none;box-shadow:0 5px 15px -8px rgba(0,0,0,.24),0 8px 10px -5px rgba(0,0,0,.2);}
.card .card-header.card-header-image .colored-shadow{transform:scale(.94);top:12px;filter:blur(12px);position:absolute;width:100%;height:100%;background-size:cover;z-index:-1;transition:opacity .45s;opacity:0;}
.card [class*=header-]{color:#fff;}
@media (-ms-high-contrast:active),(-ms-high-contrast:none){
.card{display:inline-block;}
}
.card-collapse,.card-collapse .card-header{box-shadow:none;background-color:transparent;border-radius:0;}
.card-collapse{margin:0;}
.card-collapse .card-header{border-bottom:1px solid #ddd;padding:25px 10px 5px 0;margin:0;box-shadow:none!important;background:#fff;}
.card-collapse .card-header a{color:#3c4858;font-size:.9375rem;display:block;}
.card-collapse .card-header a:active,.card-collapse .card-header a:hover{color:#e91e63;}
.card-collapse .card-header a i{float:right;top:4px;position:relative;}
.card-collapse .card-body{padding:15px 0 5px;}
.card-product{margin-top:30px;}
.card-product .card-footer .price h4{margin-bottom:0;}
.card-product .card-footer .btn{margin:0;}
.card-product .card-category,.card-product .card-description,.card-product .card-title{text-align:center;}
.card-product .price{font-size:18px;color:#9a9a9a;}
.sr-only{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0,0,0,0);border:0;}
select.selectpicker{display:none!important;}
.bootstrap-select{width:220px \0;vertical-align:middle;}
.bootstrap-select>.dropdown-toggle{position:relative;width:100%;text-align:right;white-space:nowrap;display:-ms-inline-flexbox;display:inline-flex;-ms-flex-align:center;align-items:center;-ms-flex-pack:justify;justify-content:space-between;padding-right:25px;padding-left:20px;z-index:1;}
.bootstrap-select>.dropdown-toggle:after{margin-top:-1px;}
.bootstrap-select>select{position:absolute!important;bottom:0;left:50%;display:block!important;width:.5px!important;height:100%!important;padding:0!important;opacity:0!important;border:none;z-index:0!important;}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){width:220px;}
.bootstrap-select .dropdown-toggle:focus{outline:thin dotted #333!important;outline:5px auto -webkit-focus-ring-color!important;outline-offset:-2px;}
.bootstrap-select:not(.input-group-btn){float:none;display:inline-block;margin-left:0;}
.bootstrap-select .dropdown-toggle .filter-option{position:static;top:0;left:0;float:left;height:100%;width:100%;text-align:left;overflow:hidden;-ms-flex:0 1 auto;flex:0 1 auto;}
.bootstrap-select .dropdown-toggle .filter-option-inner-inner{overflow:hidden;}
.bootstrap-select .dropdown-menu{min-width:100%;box-sizing:border-box;}
.bootstrap-select .dropdown-menu>.inner:focus{outline:none!important;}
.bootstrap-select .dropdown-menu.inner{position:static;float:none;border:0;padding:0;margin:0;border-radius:0;box-shadow:none;}
.bootstrap-select .dropdown-menu li{position:relative;}
.bootstrap-select .dropdown-menu li a{cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.bootstrap-select .dropdown-menu li a span.text{display:inline-block;}
.bootstrap-select .select-with-transition{background:no-repeat bottom,50% calc(100% - 1px);transition:background 0s ease-out!important;background-size:0 100%,100% 100%;background-color:transparent!important;color:inherit!important;box-shadow:none!important;}
.bootstrap-select .btn:active,.bootstrap-select .select-with-transition{background-image:linear-gradient(0deg,#9c27b0 2px,rgba(156,39,176,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);}
.bootstrap-select .dropdown-toggle:focus{outline:none!important;}
.nbs-flexisel-container{position:relative;max-width:100%;}
.nbs-flexisel-ul{position:relative;width:99999px;margin:0;padding:0;list-style-type:none;text-align:center;}
.nbs-flexisel-inner{overflow:hidden;width:100%;}
.nbs-flexisel-item{float:left;margin:0;padding:0;cursor:pointer;position:relative;line-height:0;}
.nbs-flexisel-item img{max-width:100%;cursor:pointer;position:relative;margin-top:10px;margin-bottom:10px;}
.nbs-flexisel-nav-left,.nbs-flexisel-nav-right{top:40%;}
.nbs-flexisel-nav-left{left:-20px;}
.nbs-flexisel-nav-right{right:-20px;}
.nbs-flexisel-nav-left,.nbs-flexisel-nav-right{position:absolute;cursor:pointer;z-index:100;opacity:.5;}
.product-page{background-color:#eee;}
.product-page .page-header{min-height:60vh;height:auto;background-position:top;}
.product-page .main-raised{margin:-40vh 0 0;padding:40px;}
.product-page .title-row{margin-top:-8vh;}
.product-page .tab-content{margin:30px 0;overflow:hidden;width:100%;height:auto;text-align:center;}
.product-page .tab-content img{border-radius:3px;max-width:300px;height:auto;}
.product-page .main-price{margin:10px 0 25px;}
.product-page .pick-size{margin-top:50px;}
.product-page h2.title{margin-bottom:0;}
.product-page .flexi-nav{margin:20px 0 30px;text-align:center;}
.product-page .flexi-nav>li a{width:80%;max-width:85px;margin:0 auto;padding:8px;display:block;border:1px solid transparent;background:transparent;border-radius:3px;opacity:.8;}
.product-page .flexi-nav>li a:active,.product-page .flexi-nav>li a:focus,.product-page .flexi-nav>li a:hover{opacity:1;border-color:#ddd;}
.product-page .flexi-nav>li a img{border-radius:3px;width:100%;height:auto;text-align:center;}
.product-page .related-products{margin-top:50px;}
.product-page .related-products .title{margin-bottom:80px;}
.product-page .features{padding-top:30px;}
.header-filter[filter-color=rose]:after{background:rgb(248,187,208);background:linear-gradient(60deg,rgb(248,187,208),rgb(240,98,146));}
@media (max-width:991px){
[class*=navbar-expand-]>.container{padding-left:15px;padding-right:15px;}
.navbar .navbar-collapse .navbar-nav>li.button-container{padding:15px;}
.navbar-collapse{position:fixed;display:block;top:0;height:100vh;width:230px;right:0;margin-right:0!important;z-index:1032;visibility:visible;background-color:#999;overflow-y:visible;border-top:none;text-align:left;padding-right:0;padding-left:0;max-height:none!important;transform:translate3d(230px,0,0);transition:all .5s cubic-bezier(.685,.0473,.346,1);}
.navbar-collapse:after{top:0;left:0;height:100%;width:100%;position:absolute;background-color:#fff;display:block;content:"";z-index:1;}
.navbar-collapse .dropdown-toggle:after{position:absolute;right:16px;margin-top:8px;}
.navbar-collapse .navbar-nav{position:relative;z-index:3;}
.navbar-collapse .navbar-nav .nav-item .nav-link{color:#3c4858;margin:5px 15px;}
.navbar-collapse .navbar-nav .nav-item:after{width:calc(100% - 30px);content:"";display:block;height:1px;margin-left:15px;background-color:#e5e5e5;}
.navbar-collapse .navbar-nav .nav-item:last-child:after{display:none;}
.navbar .navbar-translate{width:100%;position:relative;display:flex;-ms-flex-pack:justify!important;justify-content:space-between!important;-ms-flex-align:center;align-items:center;transition:transform .5s cubic-bezier(.685,.0473,.346,1);}
.navbar .dropdown .dropdown-menu{display:none;}
.navbar .dropdown-menu .dropdown-item{margin-left:1.5rem;margin-right:1.5rem;}
.navbar .dropdown .dropdown-menu{background-color:transparent;border:0;padding-bottom:15px;transition:none;box-shadow:none;transform:none!important;width:auto;margin-bottom:15px;padding-top:0;height:300px;animation:none;opacity:1;overflow-y:scroll;}
.navbar.navbar-transparent .navbar-toggler .navbar-toggler-icon{background-color:#fff;}
}
@media (min-width:991px){
.navbar .navbar-nav{align-items:center;}
.navbar .navbar-nav .button-container{margin-left:.1875px;}
}
@media screen and (max-width:991px){
.navbar .navbar-toggler .navbar-toggler-icon:nth-child(2){top:0;animation:h .5s 0s;animation-fill-mode:forwards;}
.navbar .navbar-toggler .navbar-toggler-icon:nth-child(3){opacity:1;}
.navbar .navbar-toggler .navbar-toggler-icon:nth-child(4){bottom:0;animation:j .5s 0s;animation-fill-mode:forwards;}
}
/*! CSS Used from: https://demos.creative-tim.com/material-kit-pro/assets/demo/vertical-nav.css */
a{text-decoration:none;}
/*! CSS Used from: Embedded */
#ofBar{background:#40312d;width:50%;left:25%;min-height:55px;position:fixed;top:0;z-index:999999999;font-size:16px;color:#fff;padding:15px 5%;font-weight:400;border-radius:0 0 5px 5px;}
#ofBar b{font-size:16px!important;}
#close-bar{font-size:22px;color:#3e3947;margin-right:0;position:fixed;right:26%;background:white;opacity:0.8;padding:0px;height:30px;line-height:27px;width:30px;border-radius:50%;text-align:center;top:12px;cursor:pointer;z-index:9999999999;font-weight:200;}
#close-bar:hover{opacity:1;}
#btn-bar{background-color:#fff;color:#40312d;border-radius:4px;padding:10px 20px;font-weight:bold;text-transform:uppercase;font-size:14px;opacity:.95;margin-left:15px;cursor:pointer;text-align:center;}
#btn-bar{opacity:1;}
#btn-bar span{color:red;}
@media (max-width: 768px){
#ofBar{padding:50px 20px 20px;text-align:center;font-size:20px;}
#btn-bar{display:block;margin-top:20px;margin-left:0;}
#ofBar span{display:none;}
}
/*! CSS Used keyframes */
@keyframes h{0%{top:6px;transform:rotate(135deg);}45%{transform:rotate(-10deg);}75%{transform:rotate(5deg);}to{top:0;transform:rotate(0);}}
@keyframes j{0%{bottom:6px;transform:rotate(-135deg);}45%{transform:rotate(10deg);}75%{transform:rotate(-5deg);}to{bottom:0;transform:rotate(0);}}
/*! CSS Used fontfaces */
@font-face{font-family:'Material Icons';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCBc4EsA.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBxc4EsA.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCxc4EsA.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Roboto Slab';font-style:normal;font-weight:400;src:local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v9/BngMUXZYTXPIvIBgJJSb6ufA5qW54A.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto Slab';font-style:normal;font-weight:400;src:local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v9/BngMUXZYTXPIvIBgJJSb6ufJ5qW54A.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto Slab';font-style:normal;font-weight:400;src:local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v9/BngMUXZYTXPIvIBgJJSb6ufB5qW54A.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto Slab';font-style:normal;font-weight:400;src:local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v9/BngMUXZYTXPIvIBgJJSb6ufO5qW54A.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto Slab';font-style:normal;font-weight:400;src:local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v9/BngMUXZYTXPIvIBgJJSb6ufC5qW54A.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto Slab';font-style:normal;font-weight:400;src:local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v9/BngMUXZYTXPIvIBgJJSb6ufD5qW54A.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto Slab';font-style:normal;font-weight:400;src:local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v9/BngMUXZYTXPIvIBgJJSb6ufN5qU.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Roboto Slab';font-style:normal;font-weight:700;src:local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(https://fonts.gstatic.com/s/robotoslab/v9/BngRUXZYTXPIvIBgJJSb6u92w7CLwR26eg.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto Slab';font-style:normal;font-weight:700;src:local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(https://fonts.gstatic.com/s/robotoslab/v9/BngRUXZYTXPIvIBgJJSb6u92w7CCwR26eg.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto Slab';font-style:normal;font-weight:700;src:local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(https://fonts.gstatic.com/s/robotoslab/v9/BngRUXZYTXPIvIBgJJSb6u92w7CKwR26eg.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto Slab';font-style:normal;font-weight:700;src:local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(https://fonts.gstatic.com/s/robotoslab/v9/BngRUXZYTXPIvIBgJJSb6u92w7CFwR26eg.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto Slab';font-style:normal;font-weight:700;src:local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(https://fonts.gstatic.com/s/robotoslab/v9/BngRUXZYTXPIvIBgJJSb6u92w7CJwR26eg.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto Slab';font-style:normal;font-weight:700;src:local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(https://fonts.gstatic.com/s/robotoslab/v9/BngRUXZYTXPIvIBgJJSb6u92w7CIwR26eg.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto Slab';font-style:normal;font-weight:700;src:local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(https://fonts.gstatic.com/s/robotoslab/v9/BngRUXZYTXPIvIBgJJSb6u92w7CGwR0.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}


.dropzone, .dropzone * {
  box-sizing: border-box; }

.dropzone {
  min-height: 150px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: white;
  padding: 20px 20px; }
  .dropzone.dz-clickable {
    cursor: pointer; }
    .dropzone.dz-clickable * {
      cursor: default; }
    .dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
      cursor: pointer; }
  .dropzone.dz-started .dz-message {
    display: none; }
  .dropzone.dz-drag-hover {
    border-style: solid; }
    .dropzone.dz-drag-hover .dz-message {
      opacity: 0.5; }
  .dropzone .dz-message {
    text-align: center;
    margin: 2em 0; }
  .dropzone .dz-preview {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 16px;
    min-height: 100px; }
    .dropzone .dz-preview:hover {
      z-index: 1000; }
      .dropzone .dz-preview:hover .dz-details {
        opacity: 1; }
    .dropzone .dz-preview.dz-file-preview .dz-image {
      border-radius: 20px;
      background: #999;
      background: linear-gradient(to bottom, #eee, #ddd); }
    .dropzone .dz-preview.dz-file-preview .dz-details {
      opacity: 1; }
    .dropzone .dz-preview.dz-image-preview {
      background: white; }
      .dropzone .dz-preview.dz-image-preview .dz-details {
        -webkit-transition: opacity 0.2s linear;
        -moz-transition: opacity 0.2s linear;
        -ms-transition: opacity 0.2s linear;
        -o-transition: opacity 0.2s linear;
        transition: opacity 0.2s linear; }
    .dropzone .dz-preview .dz-remove {
      font-size: 14px;
      text-align: center;
      display: block;
      cursor: pointer;
      border: none; }
      .dropzone .dz-preview .dz-remove:hover {
        text-decoration: underline; }
    .dropzone .dz-preview:hover .dz-details {
      opacity: 1; }
    .dropzone .dz-preview .dz-details {
      z-index: 20;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      font-size: 13px;
      min-width: 100%;
      max-width: 100%;
      padding: 2em 1em;
      text-align: center;
      color: rgba(0, 0, 0, 0.9);
      line-height: 150%; }
      .dropzone .dz-preview .dz-details .dz-size {
        margin-bottom: 1em;
        font-size: 16px; }
      .dropzone .dz-preview .dz-details .dz-filename {
        white-space: nowrap; }
        .dropzone .dz-preview .dz-details .dz-filename:hover span {
          border: 1px solid rgba(200, 200, 200, 0.8);
          background-color: rgba(255, 255, 255, 0.8); }
        .dropzone .dz-preview .dz-details .dz-filename:not(:hover) {
          overflow: hidden;
          text-overflow: ellipsis; }
          .dropzone .dz-preview .dz-details .dz-filename:not(:hover) span {
            border: 1px solid transparent; }
      .dropzone .dz-preview .dz-details .dz-filename span, .dropzone .dz-preview .dz-details .dz-size span {
        background-color: rgba(255, 255, 255, 0.4);
        padding: 0 0.4em;
        border-radius: 3px; }
    .dropzone .dz-preview:hover .dz-image img {
      -webkit-transform: scale(1.05, 1.05);
      -moz-transform: scale(1.05, 1.05);
      -ms-transform: scale(1.05, 1.05);
      -o-transform: scale(1.05, 1.05);
      transform: scale(1.05, 1.05);
      -webkit-filter: blur(8px);
      filter: blur(8px); }
    .dropzone .dz-preview .dz-image {
      border-radius: 20px;
      overflow: hidden;
      width: 120px;
      height: 120px;
      position: relative;
      display: block;
      z-index: 10; }
      .dropzone .dz-preview .dz-image img {
        display: block; }
    .dropzone .dz-preview.dz-success .dz-success-mark {
      -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
      -moz-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
      -ms-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
      -o-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
      animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1); }
    .dropzone .dz-preview.dz-error .dz-error-mark {
      opacity: 1;
      -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
      -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
      -ms-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
      -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
      animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1); }
    .dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
      pointer-events: none;
      opacity: 0;
      z-index: 500;
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      margin-left: -27px;
      margin-top: -27px; }
      .dropzone .dz-preview .dz-success-mark svg, .dropzone .dz-preview .dz-error-mark svg {
        display: block;
        width: 54px;
        height: 54px; }
    .dropzone .dz-preview.dz-processing .dz-progress {
      opacity: 1;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -ms-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear; }
    .dropzone .dz-preview.dz-complete .dz-progress {
      opacity: 0;
      -webkit-transition: opacity 0.4s ease-in;
      -moz-transition: opacity 0.4s ease-in;
      -ms-transition: opacity 0.4s ease-in;
      -o-transition: opacity 0.4s ease-in;
      transition: opacity 0.4s ease-in; }
    .dropzone .dz-preview:not(.dz-processing) .dz-progress {
      -webkit-animation: pulse 6s ease infinite;
      -moz-animation: pulse 6s ease infinite;
      -ms-animation: pulse 6s ease infinite;
      -o-animation: pulse 6s ease infinite;
      animation: pulse 6s ease infinite; }
    .dropzone .dz-preview .dz-progress {
      opacity: 1;
      z-index: 1000;
      pointer-events: none;
      position: absolute;
      height: 16px;
      left: 50%;
      top: 50%;
      margin-top: -8px;
      width: 80px;
      margin-left: -40px;
      background: rgba(255, 255, 255, 0.9);
      -webkit-transform: scale(1);
      border-radius: 8px;
      overflow: hidden; }
      .dropzone .dz-preview .dz-progress .dz-upload {
        background: #333;
        background: linear-gradient(to bottom, #666, #444);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 0;
        -webkit-transition: width 300ms ease-in-out;
        -moz-transition: width 300ms ease-in-out;
        -ms-transition: width 300ms ease-in-out;
        -o-transition: width 300ms ease-in-out;
        transition: width 300ms ease-in-out; }
    .dropzone .dz-preview.dz-error .dz-error-message {
      display: block; }
    .dropzone .dz-preview.dz-error:hover .dz-error-message {
      opacity: 1;
      pointer-events: auto; }
    .dropzone .dz-preview .dz-error-message {
      pointer-events: none;
      z-index: 1000;
      position: absolute;
      display: block;
      display: none;
      opacity: 0;
      -webkit-transition: opacity 0.3s ease;
      -moz-transition: opacity 0.3s ease;
      -ms-transition: opacity 0.3s ease;
      -o-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
      border-radius: 8px;
      font-size: 13px;
      top: 130px;
      left: -10px;
      width: 140px;
      background: #be2626;
      background: linear-gradient(to bottom, #be2626, #a92222);
      padding: 0.5em 1.2em;
      color: white; }
      .dropzone .dz-preview .dz-error-message:after {
        content: '';
        position: absolute;
        top: -6px;
        left: 64px;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #be2626; }
