@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
html,
body {
    font-family: 'Roboto', sans-serif;
}

.cardw {
    margin: 0 auto;
    margin-top: 2%;
    padding: 5px 30px;
    width: 100%;
    height: 320px;
    border-radius: 3px;
    background-color: rgba(0,0,0,0);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .2);
    -webkit-animation: open 2s cubic-bezier(.39, 0, .38, 1);
}

@-webkit-keyframes open {
    from {
        padding: 0 30px;
        height: 0;
    }
    to {
        height: 320px;
    }
}

#cityn, #details, #temp{
    position: relative;
}

#temp {
    float: right;
    padding-top: -5%;
    padding-bottom: -5%;
    color: #666;
    font-weight: 300;
    font-size: 3.59375em;
    line-height: 1;
    -webkit-animation: up 2s cubic-bezier(.39, 0, .38, 1) .2s;
}

#icon{
  color:#06b995;
  font-size:80px;
  margin-top:-20%;
  margin-left:-10%;
  -webkit-animation: up 2s cubic-bezier(.39, 0, .38, 1) .2s;
}

#cityn {
  text-align: left;
  padding-top:3%;
    font-weight: 300;
    font-size: 2.25em;
    -webkit-animation: up 2s cubic-bezier(.39, 0, .38, 1);
}

#details {
  text-align: right;
    margin-right: 33px;
    color: #777;
    font-weight: 400;
    font-size: 1em;
    -webkit-animation: up 2s cubic-bezier(.39, 0, .38, 1) .1s;
    line-height: 1.75;
}

#table {
    position: relative;
    top: 10px;
    width: 100%;
    text-align: center;
}

.tr:nth-child(1) .td:nth-child(1),
.tr:nth-child(1) .td:nth-child(2),
.tr:nth-child(1) .td:nth-child(3),
.tr:nth-child(1) .td:nth-child(4),
.tr:nth-child(1) .td:nth-child(5),
.tr:nth-child(1) .td:nth-child(6),
.tr:nth-child(1) .td:nth-child(7) {
    padding-bottom: 17px;
    -webkit-animation: up 2s cubic-bezier(.39, 0, .38, 1) .7s;
}

.tr:nth-child(2) .td:nth-child(1),
.tr:nth-child(2) .td:nth-child(2),
.tr:nth-child(2) .td:nth-child(3),
.tr:nth-child(2) .td:nth-child(4),
.tr:nth-child(2) .td:nth-child(5),
.tr:nth-child(2) .td:nth-child(6),
.tr:nth-child(2) .td:nth-child(7) {
    padding-bottom: 8.5px;
    -webkit-animation: up 2s cubic-bezier(.39, 0, .38, 1) .9s;
}

.tr:nth-child(3) .td:nth-child(1),
.tr:nth-child(3) .td:nth-child(2),
.tr:nth-child(3) .td:nth-child(3),
.tr:nth-child(3) .td:nth-child(4),
.tr:nth-child(3) .td:nth-child(5),
.tr:nth-child(3) .td:nth-child(6),
.tr:nth-child(3) .td:nth-child(7){
    padding-bottom: 8.5px;
    -webkit-animation: up 2s cubic-bezier(.39, 0, .38, 1) .9s;
}

.tr:nth-child(4) .td:nth-child(1),
.tr:nth-child(4) .td:nth-child(2),
.tr:nth-child(4) .td:nth-child(3),
.tr:nth-child(4) .td:nth-child(4),
.tr:nth-child(4) .td:nth-child(5),
.tr:nth-child(4) .td:nth-child(6),
.tr:nth-child(4) .td:nth-child(7){
    padding-bottom: 8.5px;
    -webkit-animation: up 2s cubic-bezier(.39, 0, .38, 1) .9s;
}

.tr:nth-child(2),
.tr:nth-child(3),
.tr:nth-child(4) {
    font-size: .9em;
    color: #999;
}

@-webkit-keyframes up {
    0% {
        opacity: 0;
        -webkit-transform: translateY(15px);
    }
    50% {
        opacity: 0;
        -webkit-transform: translateY(15px);
    }
    99% {
        -webkit-animation-play-state: paused;
    }
    100% {
        opacity: 1;
    }
}

.overlay {
  position: absolute;
  width: 100%;
  height:550px;
  background-color: black;
  opacity: 0.3;
  z-index: 1;
}

#name {
  position: absolute;
  color:white;
  font-size: 80px;
  text-align: center;
  font-family: 'Grand Hotel',cursive;
  z-index: 2;
  left: 40%;
  top:25%;
}

.card {
  font-size: .875rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav1-tabs {
  border: 0;
  border-radius: 3px;
  padding: 0 15px;
}

.nav1-tabs .nav1-item .nav1-link {
  color: #fff;
  border: 0;
  margin: 0;
  border-radius: 3px;
  line-height: 24px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px 15px;
  background-color: transparent;
  transition: 0.3s background-color 0s;
}

.nav1-tabs .nav1-item .nav1-link:hover {
  border: 0;
}

.nav1-tabs .nav1-item .nav1-link,
.nav1-tabs .nav1-item .nav1-link:hover,
.nav1-tabs .nav1-item .nav1-link:focus {
  border: 0 !important;
  color: #fff !important;
  font-weight: 500;
}

.nav1-tabs .nav1-item.disabled .nav1-link,
.nav1-tabs .nav1-item.disabled .nav1-link:hover {
  color: rgba(255, 255, 255, 0.5);
}

.nav1-tabs .nav1-item .material-icons {
  margin: -1px 5px 0 0;
}

.nav1-tabs .nav1-item .nav1-link.active {
  background-color: rgba(255, 255, 255, 0.2);
  transition: 0.3s background-color 0.2s;
}

.nav1-tabs .nav1-link {
  border-bottom: 0.214rem solid transparent;
}

.nav1-tabs .nav1-link {
  color: #555;
}

.nav1-tabs .nav1-link.active {
  color: rgba(0, 0, 0, 0.87);
  border-color: #9c27b0;
}

.nav1-tabs .nav1-link.active:hover,
.nav1-tabs .nav1-link.active:focus {
  border-color: #9c27b0;
}

.nav1-tabs .nav1-link.disabled {
  color: #999;
}

.nav1-tabs .nav1-link.disabled,
.nav1-tabs .nav1-link.disabled:hover,
.nav1-tabs .nav1-link.disabled:focus {
  color: #999;
}

.nav1-tabs.header-primary .nav1-link {
  color: white;
}

.nav1-tabs.header-primary .nav1-link.active {
  color: #fff;
  border-color: #fff;
}

.nav1-tabs.header-primary .nav1-link.active:hover,
.nav1-tabs.header-primary .nav1-link.active:focus {
  border-color: #fff;
}

.nav1-tabs.header-primary .nav1-link.disabled {
  color: rgba(255, 255, 255, 0.84);
}

.nav1-tabs.header-primary .nav1-link.disabled,
.nav1-tabs.header-primary .nav1-link.disabled:hover,
.nav1-tabs.header-primary .nav1-link.disabled:focus {
  color: rgba(255, 255, 255, 0.84);
}

.nav1-tabs.bg-inverse .nav1-link {
  color: white;
}

.nav1-tabs.bg-inverse .nav1-link.active {
  color: #fff;
  border-color: #fff;
}

.nav1-tabs.bg-inverse .nav1-link.active:hover,
.nav1-tabs.bg-inverse .nav1-link.active:focus {
  border-color: #fff;
}

.nav1-tabs.bg-inverse .nav1-link.disabled {
  color: rgba(255, 255, 255, 0.84);
}

.nav1-tabs.bg-inverse .nav1-link.disabled,
.nav1-tabs.bg-inverse .nav1-link.disabled:hover,
.nav1-tabs.bg-inverse .nav1-link.disabled:focus {
  color: rgba(255, 255, 255, 0.84);
}

.para{
  font-family: Open Sans,sans-serif;
  font-size: 1.0rem;
  font-weight: 400;
  line-height: 1.5;
  color: #525f7f;
  text-align: justify;
  -webkit-animation: up 2s cubic-bezier(0, 0, .38, 1);
}

#updates{
  width:100%;
  margin-top:3%;
  padding:1%;
  background-image:linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4) 75%), url('https://demos.creative-tim.com/argon-design-system-pro-angular/assets/img/ill/testimonial_bg.svg');
}

.card .card-header {
  border-radius: 3px;
  padding: 1rem 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -30px;
  border: 0;
  background: linear-gradient(60deg, #eee, #bdbdbd);
}

.card .card-header-primary,
.card.bg-primary,
.card.card-rotate.bg-primary .front,
.card.card-rotate.bg-primary .back {
  background: linear-gradient(60deg, #06b995, #06b995);
}

.card .card-header-primary {
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(156, 39, 176, 0.6);
}

.btn-neutral {
  border-color: #06b995;
  background-color: #06b995;
  color: #ffffff;
}

.btn-round {
  border-width: 1px;
  border-radius: 30px !important;
  padding: 9px 18px;
}

.card1 {
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.23);
  background-color: #FFFFFF;
  margin-bottom: 20px;
  position: relative;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}
.card1 .title,
.card1 .stats,
.card1 .category,
.card1 .description,
.card1 .social-line,
.card1 .actions,
.card1 .content,
.card1 .footer,
.card1 small,
.card1 a {
  position: relative;
  z-index: 3;
}
.card1 a {
  color: #444444;
}

.card1 .content .price {
  border: 2px solid rgba(255, 255, 255, 0.7);
  color: white;
  border-radius: 50%;
  width: 152px;
  height: 152px;
  margin: 50px auto;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
}
.card1 .content .price h4 {
  margin: 5px 0 0;
  font-size: 36px;
}
.card1 .content .price h6 {
  margin-top: 45px;
  font-size: 16px;
}
.card1 .content .price .currency {
  font-size: 22px;
  font-weight: normal;
}

.card1 .filter,
.card1 .header .actions {
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.76);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  filter: alpha(opacity=0);
}
.card1 .filter {
  opacity: 0.5;
  filter: alpha(opacity=50);
  border-radius: 6px;
}
.card1:hover .filter {
  opacity: 0.7;
  filter: alpha(opacity=70);
  border-radius: 6px;
}

.card3:hover .filter {
  opacity: 0.5;
  filter: alpha(opacity=50);
  border-radius: 1%;
}
.card1 .title {
  color: #dadada;
}
.card1 > .title {
  margin: 0;
  padding: 30px 0 0;
}
.card1 .content {
  padding: 15px 15px 5px 15px;
}
.card1 .content .title {
  margin: 10px 0 20px 0;
}
.card1 .content .category ~ .title {
  margin-top: 0px;
}
.card1 .content .description ~ .title {
  margin-top: -10px;
}
.card1 .description {
  font-size: 16px;
  color: #dadada;
}
.card1 .footer {
  padding: 0 15px 15px;
}

.scrollable{
  width: 130% !important;
  margin-left: -15%;
  overflow-y: scroll;
  height: 445px;
  overflow-x: hidden;
  margin-top: -5%;
  border-radius: 6px;
}

#bar::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

#bar::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

#bar::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-image: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122,153,217)),
    color-stop(0.72, rgb(73,125,189)),
    color-stop(0.86, rgb(28,58,148)));
  }

  .media{
    padding: 3%;
    background-color: rgba(6, 185, 149, 0.6);
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #5a5a5a;
    width:95% !important;
    margin-left: 2%;
  }

  .dp{
    width:20%;
    border-radius:50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .name{
    font-weight: 500;
  }

  .date{
    margin-left: 45.5%;
  }

  .comment{
    margin-top: 4%;
    line-height: 1.2;
    font-size: 18px;
    text-align: justify;
  }

  #menu li{
    display:inline;
  }

  #wrap {
    width: 100% !important;
    min-height: 100%;
    height: auto !important;
    position: relative;
    padding: 20px 0;
  }

  .review-title {
    margin-bottom: 30px;
  }

  .profile-card-5{
    margin-top:20px;
  }
  .profile-card-5 .btn{
    border-radius:2px;
    text-transform:uppercase;
    font-size:12px;
    padding:7px 20px;
  }
  .profile-card-5 .card-img-block {
    width: 91%;
    margin: 0 auto;
    position: relative;
    top: -20px;

  }
  .profile-card-5 .card-img-block img{
    border-radius:5px;
    box-shadow:0 0 10px rgba(0,0,0,0.63);
  }
  .profile-card-5 h5{
    color:#4E5E30;
    font-weight:600;
  }
  .profile-card-5 p{
    font-size:14px;
    font-weight:300;
  }
  .profile-card-5 .btn-primary{
    background-color:#06b995;
    border-color:#06b995;
  }

  .blogs-3 .card2.card2-blog .card2-title{
    margin-bottom:.5rem;
  }

  .blogs-3 .card2.card2-blog .author{
    position:relative;
    display:inline-block;
    text-align:left;
  }

  .blogs-3 .card2.card2-blog .author .avatar{
    width:40px;
    height:40px;
    position:absolute;
  }

  .blogs-3 .card2.card2-blog .author .text{
    position:relative;
    left:55px;
    top:1px;
  }

  .blogs-3 .card2.card2-blog .author .name{
    font-size:1.1em;
    font-weight:700;
    line-height:1.15;
    max-width:11em;
    overflow:hidden;
    padding-top:3px;
    text-overflow:ellipsis;
  }

  .blogs-3 .card2.card2-blog .author .meta{
    color:#a49e9e;
    font-size:.8em;
  }

  .card2.card2-plain{
    background:transparent;
    box-shadow:none;
    border:none;
  }

  .card2-blog.card2-plain .card2-body{
    padding:15px 0;
  }

  .card2-profile.card2-plain .card2-header{
    border-radius:.25rem;
  }

  .card2-image{
    padding:15px;
  }

  .card2-blog .card2-image .img{
    width:100%;
    background-size:cover;
    background-position:50% 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .card2-image .title{
    position:absolute;
    left:20px;
    top:15px;
    color:#fff;
    font-size:16px;
  }

  .card2-image img{
    height:100%;
    max-width:100%;
  }

  .rounded.overflow-hidden{
    z-index:2;
    position:relative;
  }

  .section-testimonials .card2-avatar img.rounded{
    border-radius:50%!important;
    width:100%
  }

  .name {
    font-size: 1.1em;
    font-weight: 700;
    line-height: 1.15;
    max-width: 11em;
    overflow: hidden;
    padding-top: 3px;
    text-overflow: ellipsis;
    color: #525f7f;
  }

  .heading{
    color: #5e42e4;
    background-color: transparent;
    font-weight: normal;
  }

  .img-raised{
    border-radius: 50%;
  }

  .card2-description{
    font-family: Open Sans,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    color: #525f7f;
    text-align: justify;
  }

  a{
    text-decoration: none;
  }

  .news{
    font-size: 2rem;
    font-family: sans-serif;
    margin-left: 7%;
    vertical-align: middle;
    line-height: 1;
    color: #06b995;
    font-weight: 400;
  }

  .row-equal > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
  }

  .row-equal .card {
    width: 100%;
  }

  .carousel-inner>.row-equal.active,
  .carousel-inner>.row-equal.next,
  .carousel-inner>.row-equal.prev {
    display: flex;
  }

  .carousel-inner>.row-equal.active.left,
  .carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
  }

.card-profile .card-header {
  background-position: 50%;
  background-size: cover;
  margin-bottom: 5%;
  width: 100%;
}

.card-header:first-child {
  border-radius: 2% 2% 0 0;
}

.bg-info {
    background-color: #11cdef!important;
}

.card-header {
  padding: 1.25rem 1.5rem;
  background-color: #f6f9fc;
  border-bottom: .0625rem solid rgba(0,0,0,.05);
}

.card-profile .card-avatar img {
  width: 100%;
  border: 3px solid #fff;
  transform: scale(1);
  border-radius: 50%!important;
  transition: all .15s ease;
}

.card-profile .card-avatar {
    max-width: 110px;
    max-height: 10%;
    margin: 15% auto 0;
}

.rounded-circle {
  border-radius: 50%!important;
  margin-top: -25%!important;
  border: 3px solid #fff;
}

img, svg {
  vertical-align: middle;
}

.card-body {
    flex: 1 1 auto;
}

.pt-0, .py-0 {
    padding-top: 0!important;
}

.justify-content-between {
    justify-content: space-between!important;
}

.btn-group-sm>.btn, .btn-sm {
    font-size: .75rem;
}

.mr-4, .mx-4 {
    margin-right: 1.5rem!important;
}
.mt-3, .my-3 {
    margin-top: 1rem!important;
}
.btn-group-sm> .btn-sm {
    padding: .25rem .5rem;
    line-height: 1.5;
    border-radius: .25rem;
}
.btn-info {
    color: #fff;
    background-color: #11cdef;
    border-color: #11cdef;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

a, a:hover {
    text-decoration: none;
}

.card-profile-stats {
    margin-top: 12%;
}
.justify-content-center {
    justify-content: center!important;
}
.d-flex {
    display: flex!important;
}

.card-profile-stats>div {
    text-align: center;
    padding-left: .875rem;
    padding-right: .875rem;
    padding-bottom: .875rem;
    margin-left: 2%;
}

.card-profile-stats>div .heading1 {
    font-size: 1.1rem;
    font-weight: 700;
    display: block;
}

.heading1 {
    letter-spacing: .025em;
    font-size: .95rem;
    text-transform: uppercase;
    font-weight: 400;
}

.card-profile-stats>div .description {
    font-size: .875rem;
    color: #adb5bd;
}
.description {
    font-size: .875rem;
    line-height: 1.2;
}

.text-center {
    text-align: center!important;
    line-height: 1 !important;
}

.h4 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
    color: #32325d;
}

.font-weight-light {
    font-weight: 300!important;
}

.font-weight-300 {
    font-weight: 300!important;
}

.mr-2, .mx-2 {
    margin-right: .5rem!important;
}
.ni {
    display: inline-block;
    font: normal normal normal 14px/1 NucleoIcons;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card-pricing.card-background {
    background-position: 50%;
    background-size: cover;
}

.card3 {
    margin-bottom: 30px;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    border: 0;
}
.card-background {
    background-position: 50%;
    background-size: cover;
    text-align: center;
}
.card3 {
    position: relative;
    border-radius: 1%;
    width: 105%;
    margin-left: 3%;
}
.card .card-footer, .card .card-header {
    background-color: #fff;
}
.card-pricing .card-header {
    padding-top: 0;
    padding-bottom: 0;
}
.card-header:first-child {
    border-radius: 0.1875rem 0.1875rem 0 0;
}
.bg-transparent {
    background-color: transparent!important;
}
.card-header {
    padding: 1.25rem 1.5rem;
    margin-bottom: 0;
    background-color: #f6f9fc;
    border-bottom: .0625rem solid rgba(0,0,0,.05);
}

.card3-body {
    flex: 1 1 auto;
    padding: 2.5rem;
    height: 310px !important;
}

.text-white {
    color: #fff!important;
}
.display-2 {
    font-size: 52px;
}
.display-1, .display-2 {
    font-weight: 400;
    line-height: 1.5;
}

.text-white {
    color: #fff!important;
}

.card-pricing .list-unstyled li {
    padding: .5rem 0;
    color: #8898aa;
}

.align-items-center {
    align-items: center!important;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.btn-link {
    font-weight: 600;
    box-shadow: none;
}
.btn {
    position: relative;
    text-transform: uppercase;
    will-change: transform;
    letter-spacing: .025em;
    font-size: .875rem;
}
.text-white {
    color: #fff!important;
}

.card .card-footer, .card .card-header {
    background-color: #fff;
}
.card-footer:last-child {
    border-radius: 0 0 0.1875rem 0.1875rem;
}
.bg-transparent {
    background-color: transparent!important;
}

.card-footer {
    padding: 1.25rem 1.5rem;
    background-color: #f6f9fc;
    border-top: .0625rem solid rgba(0,0,0,.05);
}

.blogs-4 .card4{
  margin-bottom:0;
  text-align:center;
  height:550px;
}

.blogs-4 .card4,.blogs-4 .card4 .full-background{
  border-radius:0;
}

.blogs-4 [class^=col-]{
  padding:0;
}

.blogs-4 .row-below .card4{
  margin-top:0!important;
}

.card4-blog.card4-plain .card4-body{
  padding:15px 0;
}

.card4-blog .card4-image .img{
  width:100%;
  background-size:cover;
  background-position:50% 50%;
}

.card4-blog .pattern{
  margin-top:-45%;
}

.card4-background.card4-blog{
  overflow:hidden;
  height:400px;
}

.card4-background.card4-grande{
  height:570px;
}

.card4-background.card4-grande .card4-body{
  height:570px;
  text-align:left;
  padding-left:30px;
}

.card4-background.card4-grande .card4-body .author{
  margin-bottom:20px;
}

.card4-background.card4-grande .full-background{
  height:570px;
}

@media (min-width:992px){
  .card4-background.card4-grande .card4-body{
    padding:60px;
  }
}

.card4-background .full-background{
  background-position:50%;
  background-size:cover;
  text-align:center;
  margin-bottom:30px;
  width:100%;
  height:100%;
  position:absolute;
  border-radius:.3rem;
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden;
  transition:all 1s cubic-bezier(.2,1,.22,1);
  -webkit-transition:all 1s cubic-bezier(.2,1,.22,1);
}

.card4-background[data-animation=true]:hover .full-background,.card4-background[data-animation=zooming]:hover .full-background{
  transform:scale(1.07);
  -webkit-transform:scale(1.07);
}

.card4-background[data-animation=zooming]{
  transition:all .3s cubic-bezier(.2,1,.22,1);
  -webkit-transition:all .3s cubic-bezier(.2,1,.22,1);
}

.card4-background[data-animation=zooming] a:not(.btn){
  height:100%;
}

.card4-background[data-animation=zooming] .card4-body{
  padding-bottom:30px;
  margin:initial;
  height:100%;
}

.card4-background[data-animation=zooming]:hover{
  transform:scale(1.07);
  -webkit-transform:scale(1.07);
}

.card4-background.card4-background-product .card4-body .card4-title{
  margin-top:30px;
}

.card4-background .card4-description,.card4-background .category,.card4-background small{
  color:#adb5bd;
}

.card4-background .card4-title{
  color:rgba(255, 255, 255, 0.8);
}

.card4-background:not(.card4-pricing) .btn{
  margin-bottom:0;
}

.card4-background:after{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  height:100%;
  width:100%;
  display:block;
  content:"";
  background:rgba(0,0,0,.5);
}

.card4-header.card4-background:after{
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
}

.card4-body{
  flex:1 1 auto;
  padding:1.5rem;
}

.card4-title{
  margin-bottom:1.25rem;
  font-weight: 400;
  font-size: 1rem;
}

.card4-body .card4-foote {
  position:relative;
  bottom:0;
  left:0;
  background-color:transparent!important;
  width:100%;
  color:#fff;
  padding:5px 0 0!important;
  border-top:none!important;
}

.card4-body{
  position:relative;
  z-index:2;
  min-height:280px;
  max-width:440px;
}

.content-bottom {
  position:absolute;
  bottom:10px;
  text-align:left;
}

.text-white-50 {
  color:hsla(0,0%,100%,.6)!important;
}

* {
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
}
.sidearrow {
	 opacity: 0;
	 font-size: 18px;
	 color: #fff;
	 will-change: transform;
	 -webkit-transform: scale(0.1);
	 transform: scale(0.1);
	 -webkit-transition: all 0.2s ease;
	 transition: all 0.2s ease;
}

#ymal{
  padding:2%;
  background-image:linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8) 75%), url('https://demos.creative-tim.com/argon-design-system-pro-angular/assets/img/ill/404.svg');
}

 h2 {
	 pointer-events: none;
}
.cards {
	 position: relative;
	 height: 250px;
	 background-color: #fff;
	 overflow: hidden;
	 margin-bottom: 4px;
   border-radius: 3px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cards:before {
	 content: "";
	 z-index: 99;
	 position: absolute;
	 top: -10px;
	 left: 32px;
	 display: block;
	 width: 16px;
	 height: 16px;
	 border-radius: 16px;
	 background-color: #e6e5e1;
}
.cards:after {
	 content: "";
	 z-index: 99;
	 position: absolute;
	 bottom: -10px;
	 left: 32px;
	 display: block;
	 width: 16px;
	 height: 16px;
	 border-radius: 16px;
	 background-color: #e6e5e1;
}
.cards h2 {
	 z-index: 99;
	 font-family: "Poppins", sans-serif;
	 position: absolute;
	 bottom: 0;
	 right: 25%;
	 font-size: 2vw;
	 font-weight: 700;
	 color: #fff;
}
.cards .fa-arrow-right {
	 z-index: 100;
	 position: absolute;
	 right: 75px;
	 bottom: 25px;
	 font-size: 40px;
	 cursor: pointer;
}
.cards p {
	 z-index: 99;
	 position: absolute;
	 top: 20px;
	 right: 10%;
	 color: #333;
	 opacity: 0.7;
	 font-size: 12px;
	 letter-spacing: 1px;
	 writing-mode: vertical-lr;
	 -webkit-transition: all 0.2s ease;
	 transition: all 0.2s ease;
}
.cards .pic {
	 z-index: 100;
	 width: 80%;
	 height: 250px;
	 background-image: url("https://images.unsplash.com/photo-1525543907410-b2562b6796d6?ixlib=rb-0.3.5&s=9ff8e5e718a6a40cbd0e1471235912f4&auto=format&fit=crop&w=3452&q=80");
	 background-size: 100% 100%;
}
.cards button {
	 position: absolute;
	 right: 5%;
	 bottom: 14px;
	 width: 30px;
	 height: 30px;
	 background-color: #da4d1d;
	 border: none;
	 border-radius: 30px;
	 cursor: pointer;
	 outline: none;
	 transition: all 0.3s ease;
	 mix-blend-mode: hard-light;
}
 .cards button .sidearrow {
	 font-size: 3rem;
} .cards:hover button {
	 transform: scale(16.5);
}
.cards:hover p {
	 color: #fff;
}
 .cards .pic {
	 background-image: url("https://images.unsplash.com/photo-1528785198459-ec50485704c7?ixlib=rb-0.3.5&s=3a2fc3039516555bbb2e9cd2967bd321&auto=format&fit=crop&w=1537&q=80");
}
 .cards button {
	 background-color: #2b26c3;
}
 .dr {
	 position: absolute;
	 bottom: 16px;
	 right: 16px;
	 width: 100px;
}

.card9{display:flex;flex-direction:column;min-width:0;word-wrap:break-word;background-clip:border-box;border:.0625rem solid rgba(0,0,0,.05);border-radius:.25rem;}
.card9-body{flex:1 1 auto;padding:1.5rem;}
.card9-header{padding:1.25rem 1.5rem;margin-bottom:0;border-bottom:.0625rem solid rgba(0,0,0,.05);}
.card9-footer{padding:1.25rem 1.5rem;background-color:#f6f9fc;border-top:.0625rem solid rgba(0,0,0,.05);}
.card9-footer:last-child{border-radius:0 0 0.1875rem 0.1875rem;}
.list-group{display:flex;flex-direction:column;padding-left:0;margin-bottom:0;margin-bottom:1rem;margin-top:0;}
.list-group-item{position:relative;display:block;padding:1rem;margin-bottom:-.0625rem;background-color:#fff;border:.0625rem solid #e9ecef;}
.bg-info{background-color:#11cdef!important;width:20%;margin:15px auto;height:1px;border-radius:3px;}
.text-center{text-align:center!important;}
.text-uppercase{font-size:1.25rem;text-transform:uppercase!important;margin-top:0;margin-bottom:.5rem;margin-bottom:.5rem;font-family:inherit;font-weight:400;line-height:1.5;color:#32325d;}
.img-center{box-shadow:0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07)!important;display:block;margin-left:auto;margin-right:auto;width:15vh;height:15vh;border-radius:50%;margin-top:-10%;}
.card9-header{margin:-50px auto 0;border-bottom:none;background:transparent;}
.list-group{margin:0 auto;text-align:center;}
.list-group .list-group-item{background-color:transparent;border:none;padding:.4rem 1rem;}
.card9-footer{padding-bottom:15px;border-top:none;}
.card9{margin-bottom:30px;box-shadow:0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);border:0;}
.card9 .card9-footer,.card9 .card9-header{background-color:#fff;}
