

<h1>Currently Avalilable in this cities</h1>
<%if(places.length!=0){%>
  <% for(i=0;i < places.length;i++){%>
    <a href="/admin/cityinfo?id=<%=places[i].id%>" ><%=places[i].name%></a>
    <%}%>
    <%}%>
