<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>YOU ARE IN DASHBOARD</h1>
    <a href="/users/logout">Logout</a>
  </body>
</html>
