
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Login</title>
    <link rel="stylesheet" href="/login/style.css">
     <link href="/login/floating-labels.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/login/script.js">

    </script>


  </head>
  <body>
    <br><br><br>


<div class="login-reg-panel">

		<div class="register-info-box">

			<h2>Don't have an account?</h2>
			<p>One step to create account </p>
			<label id="label-login" for="log-login-show"><a href="signup">Register</a></label>
<br><p><a href="http://127.0.0.1:8000">Back to home page</a> </p>
		</div>

		<div class="white-panel">
      <% include ./partials/messages.ejs %>

			<div class="login-show">
				<h2>LOGIN</h2>
        <form method="post"  enctype="multipart/form-data">
          <div class="form-label-group">
            <input type="text" style="height:50px" id="inputuser" name="username" class="form-control" placeholder="Username" required />
            <label for="inputuser">Username</label>
          </div>
          <div class="form-label-group">
            <input style="height:50px" type="password" id="password" name="password" class="form-control" placeholder="password" required />

            <label for="password">Password</label>
          </div>

				<input type="submit" name='button' value="Login">
      </form>

				<a href="forgot" class="a">Forgot password?</a>
			</div>
		</div>
	</div>
<script type="text/javascript">

</script>
  </body>
</html>
