
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Login</title>
    <link rel="stylesheet" href="/login/style.css">
     <link href="/login/floating-labels.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/login/script.js">

    </script>


  </head>
  <body>
    <br><br><br>



<div class="login-reg-panel">
<% include ./partials/messages.ejs %>
		<div class="register-info-box">
			<h2>Remember Password?</h2>
			<p>Try logging in</p>
			<label id="label-login" for="log-login-show"><a href="login">login</a></label>
		</div>

		<div class="white-panel">
			<div class="login-show">
				<h2>Enter New Password</h2>
        <form method="post"  enctype="multipart/form-data">
          <div class="form-label-group">
            <input style="height:50px" type="password" id="password" name="password" class="form-control" placeholder="password" required />

            <label for="password">Password</label>
          </div>
          <div class="form-label-group">
            <input style="height:50px" type="password" id="password1" name="password1" class="form-control" placeholder="password" required />

            <label for="password1">confirm Password</label>
          </div>

				<input type="submit" name='button' value="Change">
      </form>

			</div>
		</div>
	</div>
<script type="text/javascript">

</script>
  </body>
</html>
