/*! CSS Used from: https://demos.creative-tim.com/argon-design-system-pro/assets/css/argon-design-system.min.css?v=1.0.0 */
*,:after,:before{box-sizing:border-box;}
main,nav1,section{display:block;}
body{margin:0;font-family:Open Sans,sans-serif;font-size:1rem;font-weight:400;line-height:1.5;color:#525f7f;text-align:left;background-color:#fff;}
[tabindex="-1"]:focus{outline:0!important;}
h3,h4,h5,h6{margin-top:0;margin-bottom:.5rem;}
p{margin-top:0;margin-bottom:1rem;}
ul{margin-bottom:1rem;}
ul{margin-top:0;}
strong{font-weight:bolder;}
small{font-size:80%;}
a{color:#5e72e4;background-color:transparent;}
a,a:hover{text-decoration:none;}
a:hover{color:#233dd2;}
a:not([href]):not([tabindex]),a:not([href]):not([tabindex]):focus,a:not([href]):not([tabindex]):hover{color:inherit;text-decoration:none;}
a:not([href]):not([tabindex]):focus{outline:0;}
img{border-style:none;}
img,svg{vertical-align:middle;}
svg{overflow:hidden;}
table{border-collapse:collapse;}
th{text-align:inherit;}
button{border-radius:0;}
button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color;}
button,input,select{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button,input{overflow:visible;}
button,select{text-transform:none;}
select{word-wrap:normal;}
[type=button],button{-webkit-appearance:button;}
[type=button]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none;}
output{display:inline-block;}
[hidden]{display:none!important;}
.h5,.h6,h3,h4,h5,h6{margin-bottom:.5rem;font-family:inherit;font-weight:400;line-height:1.5;color:#32325d;}
h3{font-size:1.75rem;}
h4{font-size:1.5rem;}
.h5,h5{font-size:1.25rem;}
.h6,h6{font-size:1rem;}
.display-3{font-size:2.1875rem;}
.display-3{font-weight:600;line-height:1.5;}
small{font-size:80%;font-weight:400;}
.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
@media (min-width:576px){
.container{max-width:540px;}
}
@media (min-width:768px){
.container{max-width:720px;}
}
@media (min-width:992px){
.container{max-width:960px;}
}
@media (min-width:1200px){
.container{max-width:1040px;}
}
.container-fluid{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
.row{display:flex;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;}
.col,.col-10,.col-12,.col-auto,.col-lg-3,.col-lg-4,.col-md-6,.col-md-8,.col-md-12{position:relative;width:100%;padding-right:15px;padding-left:15px;}
.col{flex-basis:0;flex-grow:1;max-width:100%;}
.col-auto{flex:0 0 auto;width:auto;max-width:100%;}
.col-10{flex:0 0 83.333333%;max-width:83.333333%;}
.col-12{flex:0 0 100%;max-width:100%;}
@media (min-width:768px){
.col-md-6{flex:0 0 50%;max-width:50%;}
.col-md-8{flex:0 0 66.666667%;max-width:66.666667%;}
.col-md-12{flex:0 0 100%;max-width:100%;}
}
@media (min-width:992px){
.col-lg-3{flex:0 0 25%;max-width:25%;}
.col-lg-4{flex:0 0 33.333333%;max-width:33.333333%;}
.order-lg-1{order:1;}
.order-lg-3{order:3;}
}
.table{width:100%;margin-bottom:1rem;color:#525f7f;background-color:transparent;}
.table td,.table th{padding:1rem;vertical-align:top;border-top:.0625rem solid #dee2e6;}
.table thead th{vertical-align:bottom;border-bottom:.125rem solid #dee2e6;}
.table .thead-light th{background-color:#e9ecef;border-color:#dee2e6;}
.table-responsive{display:block;width:100%;overflow-x:auto;-webkit-overflow-scrolling:touch;}
.form-control{display:block;width:100%;height:calc(1.5em + 1.25rem + 2px);padding:.625rem .75rem;font-weight:400;line-height:1.5;color:#8898aa;background-color:#fff;background-clip:padding-box;border:1px solid #cad1d7;border-radius:.25rem;box-shadow:none;transition:all .2s cubic-bezier(.68,-.55,.265,1.55);}
@media (prefers-reduced-motion:reduce){
.form-control{transition:none;}
}
.form-control::-ms-expand{background-color:transparent;border:0;}
.form-control:focus{color:#8898aa;background-color:#fff;border-color:rgba(50,151,211,.25);outline:0;box-shadow:none,none;}
.form-control::placeholder{color:#adb5bd;opacity:1;}
.form-control:disabled{background-color:#e9ecef;opacity:1;}
.form-group{margin-bottom:1rem;}
.btn{display:inline-block;font-weight:600;color:#525f7f;text-align:center;vertical-align:middle;user-select:none;background-color:transparent;border:1px solid transparent;padding:.625rem 1.25rem;line-height:1.5;border-radius:.25rem;transition:all .15s ease;}
@media (prefers-reduced-motion:reduce){
.btn{transition:none;}
}
.btn:hover{color:#525f7f;text-decoration:none;}
.btn:focus{outline:0;box-shadow:0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);}
.btn:disabled{opacity:.65;box-shadow:none;}
.btn-primary{color:#fff;background-color:#5e72e4;border-color:#5e72e4;box-shadow:0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);}
.btn-primary:hover{color:#fff;background-color:#3d55df;border-color:#324cdd;}
.btn-primary:focus{box-shadow:0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08),0 0 0 0 rgba(118,135,232,.5);}
.btn-primary:disabled{color:#fff;background-color:#5e72e4;border-color:#5e72e4;}
.btn-success{color:#fff;background-color:#2dce89;border-color:#2dce89;box-shadow:0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);}
.btn-success:hover{color:#fff;background-color:#26af74;border-color:#24a46d;}
.btn-success:focus{box-shadow:0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08),0 0 0 0 rgba(77,213,155,.5);}
.btn-success:disabled{color:#fff;background-color:#2dce89;border-color:#2dce89;}
.btn-info{color:#fff;background-color:#11cdef;border-color:#11cdef;box-shadow:0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);}
.btn-info:hover{color:#fff;background-color:#0eafcc;border-color:#0da5c0;}
.btn-info:focus{box-shadow:0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08),0 0 0 0 rgba(53,213,241,.5);}
.btn-info:disabled{color:#fff;background-color:#11cdef;border-color:#11cdef;}
.btn-default{color:#fff;background-color:#172b4d;border-color:#172b4d;box-shadow:0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);}
.btn-default:hover{color:#fff;background-color:#0e1b30;border-color:#0b1526;}
.btn-default:focus{box-shadow:0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08),0 0 0 0 rgba(58,75,104,.5);}
.btn-default:disabled{color:#fff;background-color:#172b4d;border-color:#172b4d;}
.btn-lg{padding:.875rem 1rem;font-size:.875rem;line-height:1.5;border-radius:.3rem;}
.btn-sm{padding:.25rem .5rem;line-height:1.5;border-radius:.25rem;}
.btn-block{display:block;width:100%;}
.fade{transition:opacity .15s linear;}
@media (prefers-reduced-motion:reduce){
.fade{transition:none;}
}
.fade:not(.show){opacity:0;}
.dropdown{position:relative;}
.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:10rem;padding:.5rem 0;margin:.125rem 0 0;font-size:1rem;color:#525f7f;text-align:left;list-style:none;background-color:#fff;background-clip:padding-box;border:0 solid rgba(0,0,0,.15);border-radius:.3rem;box-shadow:0 50px 100px rgba(50,50,93,.1),0 15px 35px rgba(50,50,93,.15),0 5px 15px rgba(0,0,0,.1);}
.dropdown-menu-right{right:0;left:auto;}
.dropdown-item{display:block;width:100%;padding:.25rem 1.5rem;clear:both;font-weight:400;color:#212529;text-align:inherit;white-space:nowrap;background-color:transparent;border:0;}
.dropdown-item:focus,.dropdown-item:hover{color:#16181b;text-decoration:none;background-color:#f6f9fc;}
.dropdown-item:active{color:#fff;text-decoration:none;background-color:#5e72e4;}
.dropdown-item:disabled{color:#8898aa;pointer-events:none;background-color:transparent;}
.input-group{position:relative;display:flex;flex-wrap:wrap;align-items:stretch;width:100%;}
.input-group>.form-control{position:relative;flex:1 1 auto;width:1%;margin-bottom:0;}
.input-group>.form-control:focus{z-index:3;}
.nav1-link{display:block;padding:.25rem .75rem;}
.nav1-link:focus,.nav1-link:hover{text-decoration:none;}
.card{display:flex;flex-direction:column;min-width:0;word-wrap:break-word;background-color:#fff;background-clip:border-box;border:.0625rem solid rgba(0,0,0,.05);border-radius:.25rem;}
.card-body{flex:1 1 auto;padding:1.5rem;}
.card-header{padding:1.25rem 1.5rem;margin-bottom:0;background-color:#f6f9fc;border-bottom:.0625rem solid rgba(0,0,0,.05);}
.card-header:first-child{border-radius:0.1875rem 0.1875rem 0 0;}
.card-footer{padding:1.25rem 1.5rem;background-color:#f6f9fc;border-top:.0625rem solid rgba(0,0,0,.05);}
.card-footer:last-child{border-radius:0 0 0.1875rem 0.1875rem;}
.pagination{display:flex;padding-left:0;list-style:none;border-radius:.25rem;}
.page-link{position:relative;display:block;padding:.5rem .75rem;margin-left:-.0625rem;line-height:1.25;color:#8898aa;background-color:#fff;border:.0625rem solid #dee2e6;}
.page-link:hover{z-index:2;color:#8898aa;text-decoration:none;background-color:#dee2e6;border-color:#dee2e6;}
.page-link:focus{z-index:2;outline:0;box-shadow:none;}
.page-item:first-child .page-link{margin-left:0;border-top-left-radius:.25rem;border-bottom-left-radius:.25rem;}
.page-item:last-child .page-link{border-top-right-radius:.25rem;border-bottom-right-radius:.25rem;}
.page-item.active .page-link{z-index:1;color:#fff;background-color:#2dce89;border-color:#2dce89;}
.page-item.disabled .page-link{color:#8898aa;pointer-events:none;cursor:auto;background-color:#fff;border-color:#dee2e6;}
.badge{display:inline-block;padding:.35rem .375rem;font-size:66%;font-weight:600;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:.25rem;transition:all .15s ease;}
@media (prefers-reduced-motion:reduce){
.badge{transition:none;}
}
.badge:empty{display:none;}
.progress{display:flex;height:1rem;font-size:.75rem;border-radius:.25rem;box-shadow:inset 0 .1rem .1rem rgba(0,0,0,.1);}
.progress-bar{display:flex;flex-direction:column;justify-content:center;color:#fff;text-align:center;white-space:nowrap;background-color:#5e72e4;transition:width .6s ease;}
@media (prefers-reduced-motion:reduce){
.progress-bar{transition:none;}
}
.media{display:flex;align-items:flex-start;}
.media-body{flex:1;}
.list-group{display:flex;flex-direction:column;padding-left:0;margin-bottom:0;}
.list-group-item-action{width:100%;color:#525f7f;text-align:inherit;}
.list-group-item-action:focus,.list-group-item-action:hover{z-index:1;color:#525f7f;text-decoration:none;background-color:#f6f9fc;}
.list-group-item-action:active{color:#525f7f;background-color:#e9ecef;}
.list-group-item{position:relative;display:block;padding:1rem;margin-bottom:-.0625rem;background-color:#fff;border:.0625rem solid #e9ecef;}
.list-group-item:first-child{border-top-left-radius:.25rem;border-top-right-radius:.25rem;}
.list-group-item:last-child{margin-bottom:0;border-bottom-right-radius:.25rem;border-bottom-left-radius:.25rem;}
.list-group-item:disabled{color:#8898aa;pointer-events:none;background-color:#fff;}
.list-group-flush .list-group-item{border-right:0;border-left:0;border-radius:0;}
.list-group-flush .list-group-item:last-child{margin-bottom:-.0625rem;}
.close{float:right;font-size:1.5rem;font-weight:600;line-height:1;text-shadow:none;opacity:.5;}
.close,.close:hover{color:rgba(0,0,0,.6);}
.close:hover{text-decoration:none;}
button.close{padding:0;background-color:transparent;border:0;appearance:none;}
.modal{position:fixed;top:0;left:0;z-index:1050;display:none;width:100%;height:100%;overflow:hidden;outline:0;}
.modal-dialog{position:relative;width:auto;margin:.5rem;pointer-events:none;}
.modal.fade .modal-dialog{transition:transform .3s ease-out;transform:translateY(-50px);}
@media (prefers-reduced-motion:reduce){
.modal.fade .modal-dialog{transition:none;}
}
.modal-dialog-centered{display:flex;align-items:center;min-height:calc(100% - 1rem);}
.modal-dialog-centered:before{display:block;height:calc(100vh - 1rem);content:"";}
.modal-content{position:relative;display:flex;flex-direction:column;width:100%;pointer-events:auto;background-color:#fff;background-clip:padding-box;border:1px solid rgba(0,0,0,.2);box-shadow:0 15px 35px rgba(50,50,93,.2),0 5px 15px rgba(0,0,0,.17);outline:0;}
.modal-header{display:flex;align-items:flex-start;justify-content:space-between;padding:1.25rem;border-bottom:1px solid #e9ecef;border-top-left-radius:.3rem;border-top-right-radius:.3rem;}
.modal-header .close{padding:1.25rem;margin:-1rem -1rem -1rem auto;}
.modal-title{margin-bottom:0;line-height:1.1;}
.modal-body{position:relative;flex:1 1 auto;padding:1.5rem;}
@media (min-width:576px){
.modal-dialog{max-width:500px;margin:1.75rem auto;}
.modal-dialog-centered{min-height:calc(100% - 3.5rem);}
.modal-dialog-centered:before{height:calc(100vh - 3.5rem);}
.modal-content{box-shadow:0 15px 35px rgba(50,50,93,.2),0 5px 15px rgba(0,0,0,.17);}
}
@media (min-width:992px){
.modal-lg{max-width:800px;}
}
.bg-warning{background-color:#fb6340!important;}
.border-0{border:0!important;}
.rounded-circle{border-radius:50%!important;}
.d-flex{display:flex!important;}
.justify-content-end{justify-content:flex-end!important;}
.justify-content-center{justify-content:center!important;}
.justify-content-between{justify-content:space-between!important;}
.align-items-center{align-items:center!important;}
@media (min-width:992px){
.align-self-lg-center{align-self:center!important;}
}
.float-right{float:right!important;}
.sr-only{position:absolute;width:1px;height:1px;padding:0;overflow:hidden;clip:rect(0,0,0,0);white-space:nowrap;border:0;}
.profile-page .card-profile .card-profile-image img,.shadow{box-shadow:0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07)!important;}
.m-0{margin:0!important;}
.my-0{margin-top:0!important;}
.mb-0,.my-0{margin-bottom:0!important;}
.mr-2{margin-right:.5rem!important;}
.mt-3{margin-top:1rem!important;}
.mr-3{margin-right:1rem!important;}
.mr-4{margin-right:1.5rem!important;}
.mt-5{margin-top:3rem!important;}
.ml--2{margin-left:-.5rem!important;}
.pt-0,.py-0{padding-top:0!important;}
.py-0{padding-bottom:0!important;}
.py-3{padding-top:1rem!important;}
.px-3{padding-right:1rem!important;}
.py-3{padding-bottom:1rem!important;}
.px-3{padding-left:1rem!important;}
.py-4{padding-top:1.5rem!important;}
.px-4{padding-right:1.5rem!important;}
.py-4{padding-bottom:1.5rem!important;}
.px-4{padding-left:1.5rem!important;}
@media (min-width:992px){
.mt-lg-0{margin-top:0!important;}
}
.text-left{text-align:left!important;}
.text-right{text-align:right!important;}
.text-center{text-align:center!important;}
@media (min-width:992px){
.text-lg-right{text-align:right!important;}
}
.font-weight-light{font-weight:300!important;}
.font-weight-bold{font-weight:600!important;}
.text-primary{color:#5e72e4!important;}
a.text-primary:focus,a.text-primary:hover{color:#233dd2!important;}
.text-default{color:#172b4d!important;}
.text-muted{color:#8898aa!important;}
@media print{
*,:after,:before{text-shadow:none!important;box-shadow:none!important;}
a:not(.btn){text-decoration:underline;}
thead{display:table-header-group;}
img,tr{page-break-inside:avoid;}
h3,p{orphans:3;widows:3;}
h3{page-break-after:avoid;}
.container,body{min-width:992px!important;}
.badge{border:.0625rem solid #000;}
.table{border-collapse:collapse!important;}
.table td,.table th{background-color:#fff!important;}
}
main{display:block;}
main{overflow:hidden;}
.bg-gradient-green{background:linear-gradient(35deg,#2dce89,#2dcecc)!important;}
.overflow-hidden{overflow:hidden!important;}
@media (min-width:992px){
[class*=ml--],[class*=mt--]{position:relative;z-index:5;}
.mt--300{margin-top:-300px!important;}
}
[class*=shadow]{transition:all .15s ease;}
.font-weight-300{font-weight:300!important;}
.avatar{color:#fff;background-color:#adb5bd;display:inline-flex;align-items:center;justify-content:center;font-size:1rem;border-radius:50%;height:48px;width:48px;}
.avatar img{width:100%;border-radius:50%;}
.btn{position:relative;text-transform:uppercase;will-change:transform;letter-spacing:.025em;font-size:.875rem;}
.btn:hover{box-shadow:0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);transform:translateY(-1px);}
.btn:not(:last-child){margin-right:.5rem;}
.btn-sm{font-size:.75rem;}
.card{position:relative;}
.profile-page .card-profile{margin-top:-150px;}
.profile-page .card-profile .card-profile-image{position:relative;}
.profile-page .card-profile .card-profile-image img{max-width:180px;border-radius:.25rem;transform:translate(-50%,-30%);position:absolute;left:50%;transition:all .15s ease;}
.profile-page .card-profile .card-profile-image img:hover{transform:translate(-50%,-33%);}
.profile-page .card-profile .card-profile-stats{padding:1rem 0;}
.profile-page .card-profile .card-profile-stats>div{text-align:center;margin-right:1rem;padding:.875rem;}
.profile-page .card-profile .card-profile-stats>div:last-child{margin-right:0;}
.profile-page .card-profile .card-profile-stats>div .heading{font-size:1.1rem;font-weight:700;display:block;}
.profile-page .card-profile .card-profile-stats>div .description{font-size:.875rem;color:#adb5bd;}
.profile-page .card-profile .card-profile-actions{padding:.875rem;}
@media (max-width:575.98px){
.profile-page .card-profile .card-profile-actions{margin-top:110px;}
}
@media (min-width:576px) and (max-width:991.98px){
.profile-page .card-profile .card-profile-stats{margin-top:30px;}
}
.close{transition:all .15s ease;}
.close>span:not(.sr-only){background-color:transparent;color:rgba(0,0,0,.6);line-height:17px;height:1.25rem;width:1.25rem;border-radius:50%;font-size:1.25rem;display:block;transition:all .15s ease;}
.close:focus,.close:hover{color:rgba(0,0,0,.9);outline:none;}
.close:focus,.close:focus span:not(.sr-only),.close:hover,.close:hover span:not(.sr-only){background-color:transparent;}
.dropdown{display:inline-block;}
.dropdown-menu{min-width:12rem;}
.dropdown-menu .dropdown-item{padding:1rem;font-size:.875rem;}
.dropdown-menu-xl{min-width:450px;border-radius:.3rem;}
.form-control{font-size:.875rem;}
.form-control{transition:all .15s ease;}
.form-control:focus::placeholder{color:#adb5bd;}
.input-group{border-radius:.25rem;transition:all .15s ease;}
.input-group,.input-group .form-control{box-shadow:none;}
.input-group .form-control:focus{box-shadow:none;}
.modal-content{border:0;border-radius:.3rem;}
.nav1-link{color:#525f7f;}
.nav1-link:hover{color:#5e72e4;}
.nav1-link i:not(.fa){position:relative;top:2px;}
.page-item.active .page-link{box-shadow:0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);}
.page-item .page-link,.page-item span{display:flex;align-items:center;justify-content:center;padding:0;margin:0 3px;border-radius:50%!important;width:36px;height:36px;font-size:.875rem;}
.progress{height:8px;margin-bottom:1rem;overflow:hidden;border-radius:.2rem;background-color:#e9ecef;box-shadow:inset 0 1px 2px rgba(0,0,0,.1);}
.progress-bar{box-shadow:none;border-radius:0;height:auto;}
.section{position:relative;padding-top:4rem;padding-bottom:4rem;}
.section-profile-cover{height:580px;background-size:cover;background-position:50%;}
@media (max-width:991.98px){
.section-profile-cover{height:400px;}
}
.mx-auto{margin-right:auto!important;}
.mx-auto{margin-left:auto!important;}
p{font-size:1rem;}
.lead,p{font-weight:300;line-height:1.7;}
.lead{font-size:1.25rem;margin-top:1.5rem;}
.description{font-size:.875rem;}
.heading{letter-spacing:.025em;font-size:.95rem;text-transform:uppercase;font-weight:400;}
.badge{text-transform:uppercase;}
.badge-dot{padding-left:0;padding-right:0;background:transparent;font-weight:400;font-size:.875rem;text-transform:none;}
.badge-dot i{display:inline-block;vertical-align:middle;width:.375rem;height:.375rem;border-radius:50%;margin-right:.375rem;}
.dropdown{display:inline-block;}
.dropdown-menu{min-width:12rem;}
.dropdown-menu .dropdown-item{padding:1rem;font-size:.875rem;}
.dropdown-menu-xl{min-width:450px;border-radius:.3rem;}
.nav1-link{color:#525f7f;}
.nav1-link:hover{color:#5e72e4;}
.nav1-link i:not(.fa){position:relative;top:2px;}
p{font-size:1rem;}
p{font-weight:300;line-height:1.7;}
.dropdown .dropdown-item:hover{transform:scale(1.1);border-radius:.3rem;box-shadow:0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);transition:all .4s ease;background:#fff;}
.dropdown .dropdown-menu{animation:k .3s cubic-bezier(.23,1,.32,1);transition:all .3s ease;}
.dropdown .dropdown-menu:before{background:#fff;box-shadow:none;content:"";display:block;height:16px;width:16px;left:5px;position:absolute;bottom:100%;transform:rotate(-45deg) translateY(1rem);z-index:-5;border-radius:.2rem;}
.dropdown-menu-right{right:0!important;left:auto!important;}
.dropdown-menu-right:before{right:20px;left:auto!important;}
.dropdown-menu.show{display:block;}
.dropdown.show .dropdown-menu.show{margin-top:10px;bottom:unset!important;top:100%!important;animation:j .3s cubic-bezier(.23,1,.32,1);transform:none!important;transition:height .35s ease;}

.pagination.pagination-success .page-item.active>.page-link,.pagination.pagination-success .page-item.active>.page-link:focus,.pagination.pagination-success .page-item.active>.page-link:hover{background-color:#2dce89;border-color:#2dce89;}
.info{max-width:360px;margin:0 auto;padding:1.5rem;text-align:center;border-radius:.25rem;transition:all .5s;}
.info p{padding:0 15px 0 0;}
.media .avatar{margin:0 auto;width:64px;height:64px;margin-right:15px;}
.media .avatar img{width:100%;border-radius:50%;}
.media .media-body{padding-right:10px;}
.name{font-size:1.1em;font-weight:700;line-height:1.15;max-width:11em;overflow:hidden;padding-top:3px;text-overflow:ellipsis;}
.table thead th{padding-top:.75rem;padding-bottom:.75rem;font-size:.65rem;text-transform:uppercase;letter-spacing:1px;border-bottom:.0625rem solid #dee2e6;}
.table th{font-weight:600;}
.table td .progress{height:3px;width:120px;margin:0;}
.table td,.table th{font-size:.8125rem;white-space:nowrap;}
.table.align-items-center td,.table.align-items-center th{vertical-align:middle;}
.table .thead-light th{background-color:#fff;color:#525f7f;}
.table .thead-light th a{color:#525f7f;}
.table-flush td,.table-flush th{border-left:0;border-right:0;}
.table-flush tbody tr:first-child td,.table-flush tbody tr:first-child th{border-top:0;}
.table-flush tbody tr:last-child td,.table-flush tbody tr:last-child th{border-bottom:0;}
.table [data-sort]{cursor:pointer;}
.table .thead-light [data-sort]:after{content:url("data:image/svg+xml;utf8,<svg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M3 0L6 4H0L3 0ZM3 10L0 6H6L3 10Z' fill='%23525f7f'/></svg>");margin-left:.25rem;}
.pattern{width:100%;}
.author{position:relative;display:inline-block;text-align:left;}
.author .avatar{width:30px;height:30px;overflow:hidden;border-radius:50%;margin-right:5px;}
.card-profile[data-background=cover]{overflow:hidden;}
.card-profile[data-background=cover] .pattern{position:absolute;top:-38%;}
.card-profile .card-header{background-position:50%;background-size:cover;margin-bottom:60px;width:100%;height:150px;border:none;}
.card-profile .card-avatar{max-width:130px;max-height:130px;margin:70px auto 0;}
.card-profile .card-avatar img{width:100%;border:3px solid #fff;transform:scale(1);border-radius:50%!important;transition:all .15s ease;}
.card-profile .card-avatar img:hover{transform:scale(1.03);}
.card-profile-stats{padding:1rem 0;}
.card-profile-stats>div{text-align:center;margin-right:1rem;padding:.875rem;}
.card-profile-stats>div:last-child{margin-right:0;}
.card-profile-stats>div .heading{font-size:1.1rem;font-weight:700;display:block;}
.card-profile-stats>div .description{font-size:.875rem;color:#adb5bd;}
.card-profile-actions{padding:.875rem;}
.card{margin-bottom:30px;box-shadow:0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);border:0;}
.card .card-footer,.card .card-header{background-color:#fff;}
.card.shadow{border:0!important;}
.profile-page .card{z-index:2;}
@media (max-width:575.98px){
.testimonial-glide .info{padding:0!important;}
}
.glide__slides,.glide__track{overflow:hidden;}
.glide__slides{position:relative;width:100%;list-style:none;backface-visibility:hidden;transform-style:preserve-3d;touch-action:pan-Y;padding:0;white-space:nowrap;display:flex;flex-wrap:nowrap;will-change:transform;}
.glide__slides .glide__slide{opacity:.1;transition:all .3s ease 0s;}
.glide__slides .glide__slide img{width:400px;margin:50px auto;}
.glide__slides .glide__slide.glide__slide--active{opacity:1;transition:all .3s ease 0s;-webkit-transition:all .2s ease-in;-webkit-transform:scale(1.2);-ms-transition:all .2s ease-in;-ms-transform:scale(1.2);-moz-transition:all .2s ease-in;-moz-transform:scale(1.2);transition:all .2s ease-in;transform:scale(1.2);}
.glide__slide{user-select:none;}
.glide__slide{width:100%;height:100%;flex-shrink:0;white-space:normal;-webkit-touch-callout:none;-webkit-tap-highlight-color:transparent;}
.glide__arrows{-webkit-touch-callout:none;user-select:none;}
.glide__arrow{position:absolute;display:block;bottom:-70px;z-index:2;color:#fff;text-transform:uppercase;padding:9px 12px;background-color:transparent;border:2px solid hsla(0,0%,100%,.5);border-radius:4px;box-shadow:0 .25em .5em 0 rgba(0,0,0,.1);text-shadow:0 .25em .5em rgba(0,0,0,.1);opacity:1;cursor:pointer;transition:opacity .15s ease,border .3s ease-in-out;transform:translateY(-50%);line-height:1;}
.glide__arrow:focus{outline:none;}
.glide__arrow:hover{border-color:#fff;}
.glide__arrow--left{left:47%;}
.glide__arrow--right{right:47%;}
.glide--swipeable{cursor:grab;cursor:-webkit-grab;}
.testimonials-3 .info{max-width:500px;border:1px solid #172b4d;padding-top:10px;}
.testimonials-3 .info .description{padding:30px 40px;font-weight:500;line-height:25px;}
.testimonials-3 .info .author img{width:35px;height:35px;margin-left:40px;border-radius:50%;display:inline-block;}
.testimonials-3 .info .author span{color:#172b4d;margin-left:10px;}
.testimonials-3 .positioned{position:absolute;left:10%;margin-top:140px;}
.testimonials-3 .testimonial-glide .glide__slide{opacity:.1;filter:blur(2px);-webkit-filter:blur(2px);}
.testimonials-3 .testimonial-glide .glide__slide.glide__slide--active{opacity:1;filter:blur(0)!important;-webkit-filter:blur(0)!important;transform:none;}
.testimonials-3 .testimonial-glide .glide__slides{overflow:visible;height:600px;padding-top:10vh;}
@media screen and (max-width:1200px){
.testimonials-3 .info .description{padding:30px 5px;}
.testimonials-3 .info .author img{margin-left:5px;}
.testimonials-3 .info .author span{margin-left:5px;}
}
@media (max-width:575.98px){
.positioned{position:relative!important;margin-top:0!important;left:auto!important;}
.testimonials-3 .testimonial-glide .glide__arrow--left{left:30%;}
.testimonials-3 .testimonial-glide .glide__arrow--right{right:30%;}
.testimonials-3 .testimonial-glide .glide__slide{width:240px!important;}
}
.presentation-page section{padding:80px 0;}
@media (max-width:575.98px){
.testimonial-glide.glide--swipeable.glide--carousel .glide__track{overflow-y:visible!important;}
.testimonial-glide.glide--swipeable.glide--carousel .glide__slide{width:100px!important;position:relative;right:7%;}
.testimonial-glide.glide--swipeable.glide--carousel .glide__slide .info{overflow:hidden;height:150px!important;width:100px!important;}
.testimonial-glide.glide--swipeable.glide--carousel .glide__arrows{margin-top:80px;}
.testimonial-glide.glide--swipeable.glide--carousel .glide__arrows .glide__arrow--left{left:30%!important;}
.testimonial-glide.glide--swipeable.glide--carousel .glide__arrows .glide__arrow--right{right:30%!important;}
}
@media (max-width:991.98px){
.testimonial-glide.glide--carousel .glide__track{overflow-y:visible!important;}
.testimonial-glide.glide--carousel .glide__slide{width:170px!important;}
.testimonial-glide.glide--carousel .glide__slide .info{overflow:hidden;width:170px!important;height:260px!important;}
.testimonial-glide.glide--carousel .glide__arrows{margin-top:80px;}
.testimonial-glide.glide--carousel .glide__arrows .glide__arrow--left{left:40%;}
.testimonial-glide.glide--carousel .glide__arrows .glide__arrow--right{right:40%;}
.testimonials-3 .positioned{position:relative;}
}
.modal{z-index:1072;}
.rangeslider__fill{background:#2DCE89 !important}
.rangeslider--horizontal{height: 5px !important;width:100% !important;}
.rangeslider__handle{margin-top:5px !important;width:20px !important;height:20px !important;}
/*! CSS Used keyframes */
@keyframes k{0%{opacity:0;transform:translate3d(0,20px,0);}to{opacity:1;transform:translateZ(0);}}
/*! CSS Used fontfaces */


/*! CSS Used from: https://demos.creative-tim.com/argon-design-system-pro/assets/css/argon-design-system.min.css?v=1.0.0 */
*,:after,:before{box-sizing:border-box;}
nav{display:block;}
h4,h6{margin-top:0;margin-bottom:.5rem;}
p{margin-top:0;margin-bottom:1rem;}
ul{margin-bottom:1rem;}
ul{margin-top:0;}
strong{font-weight:bolder;}
small{font-size:80%;}
a{color:#5e72e4;background-color:transparent;}
a,a:hover{text-decoration:none;}
a:hover{color:#233dd2;}
img{border-style:none;}
img{vertical-align:middle;}
button{border-radius:0;}
button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color;}
button{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button{overflow:visible;}
button{text-transform:none;}
[type=button],button{-webkit-appearance:button;}
[type=button]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none;}
h4,h6{margin-bottom:.5rem;font-family:inherit;font-weight:400;line-height:1.5;color:#32325d;}
h4{font-size:1.5rem;}
h6{font-size:1rem;}
small{font-size:80%;font-weight:400;}
.row{display:flex;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;}
.col,.col-auto{position:relative;width:100%;padding-right:15px;padding-left:15px;}
.col{flex-basis:0;flex-grow:1;max-width:100%;}
.col-auto{flex:0 0 auto;width:auto;max-width:100%;}
.collapse:not(.show){display:none;}
.dropdown{position:relative;}
.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:10rem;padding:.5rem 0;margin:.125rem 0 0;font-size:1rem;color:#525f7f;text-align:left;list-style:none;background-color:#fff;background-clip:padding-box;border:0 solid rgba(0,0,0,.15);border-radius:.3rem;box-shadow:0 50px 100px rgba(50,50,93,.1),0 15px 35px rgba(50,50,93,.15),0 5px 15px rgba(0,0,0,.1);}
.dropdown-menu-right{right:0;left:auto;}
.dropdown-item{display:block;width:100%;padding:.25rem 1.5rem;clear:both;font-weight:400;color:#212529;text-align:inherit;white-space:nowrap;background-color:transparent;border:0;}
.dropdown-item:focus,.dropdown-item:hover{color:#16181b;text-decoration:none;background-color:#f6f9fc;}
.dropdown-item:active{color:#fff;text-decoration:none;background-color:#5e72e4;}
.dropdown-item:disabled{color:#8898aa;pointer-events:none;background-color:transparent;}
.nav-link{display:block;padding:.25rem .75rem;}
.nav-link:focus,.nav-link:hover{text-decoration:none;}
.nav-link.disabled{color:#8898aa;pointer-events:none;cursor:default;}
.navbar{position:relative;padding:1rem;}
.navbar{display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between;}
.navbar-brand{display:inline-block;padding-top:.0625rem;padding-bottom:.0625rem;margin-right:1rem;font-size:1.25rem;line-height:inherit;white-space:nowrap;}
.navbar-brand:focus,.navbar-brand:hover{text-decoration:none;}
.navbar-nav{display:flex;flex-direction:column;padding-left:0;margin-bottom:0;list-style:none;}
.navbar-nav .nav-link:not(.btn){padding-right:0;padding-left:0;}
.navbar-nav .dropdown-menu{position:static;float:none;}
.navbar-collapse{flex-basis:100%;flex-grow:1;align-items:center;}
.navbar-toggler{padding:.25rem .75rem;font-size:1.25rem;line-height:1;background-color:transparent;border:.0625rem solid transparent;border-radius:.25rem;}
.navbar-toggler:focus,.navbar-toggler:hover{text-decoration:none;}
.navbar-toggler-icon{display:inline-block;width:1.5em;height:1.5em;vertical-align:middle;content:"";background:no-repeat 50%;background-size:100% 100%;}
@media (min-width:992px){
.navbar-expand-lg{flex-flow:row nowrap;justify-content:flex-start;}
.navbar-expand-lg .navbar-nav{flex-direction:row;}
.navbar-expand-lg .navbar-nav .dropdown-menu{position:absolute;}
.navbar-expand-lg .navbar-nav .nav-link{padding-right:1rem;padding-left:1rem;}
.navbar-expand-lg .navbar-collapse{display:flex!important;flex-basis:auto;}
.navbar-expand-lg .navbar-toggler{display:none;}
}
.navbar-light .navbar-brand,.navbar-light .navbar-brand:focus,.navbar-light .navbar-brand:hover{color:rgba(0,0,0,.9);}
.navbar-light .navbar-nav .nav-link{color:rgba(0,0,0,.5);}
.navbar-light .navbar-nav .nav-link:focus,.navbar-light .navbar-nav .nav-link:hover{color:rgba(0,0,0,.7);}
.navbar-light .navbar-nav .nav-link.disabled{color:rgba(0,0,0,.3);}
.navbar-light .navbar-toggler{color:rgba(0,0,0,.5);border-color:transparent;}
.navbar-light .navbar-toggler-icon{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");}
.list-group{display:flex;flex-direction:column;padding-left:0;margin-bottom:0;}
.list-group-item-action{width:100%;color:#525f7f;text-align:inherit;}
.list-group-item-action:focus,.list-group-item-action:hover{z-index:1;color:#525f7f;text-decoration:none;background-color:#f6f9fc;}
.list-group-item-action:active{color:#525f7f;background-color:#e9ecef;}
.list-group-item{position:relative;display:block;padding:1rem;margin-bottom:-.0625rem;background-color:#fff;border:.0625rem solid #e9ecef;}
.list-group-item:first-child{border-top-left-radius:.25rem;border-top-right-radius:.25rem;}
.list-group-item:disabled{color:#8898aa;pointer-events:none;background-color:#fff;}
.list-group-flush .list-group-item{border-right:0;border-left:0;border-radius:0;}
.bg-light{background-color:#adb5bd!important;}
.rounded-circle{border-radius:50%!important;}
.d-flex{display:flex!important;}
.justify-content-between{justify-content:space-between!important;}
.align-items-center{align-items:center!important;}
.m-0{margin:0!important;}
.mb-0{margin-bottom:0!important;}
.ml--2{margin-left:-.5rem!important;}
.py-0{padding-top:0!important;}
.py-0{padding-bottom:0!important;}
.py-3{padding-top:1rem!important;}
.px-3{padding-right:1rem!important;}
.py-3{padding-bottom:1rem!important;}
.px-3{padding-left:1rem!important;}
.text-right{text-align:right!important;}
.text-center{text-align:center!important;}
.font-weight-bold{font-weight:600!important;}
.text-primary{color:#5e72e4!important;}
a.text-primary:focus,a.text-primary:hover{color:#233dd2!important;}
.text-muted{color:#8898aa!important;}
@media print{
*,:after,:before{text-shadow:none!important;box-shadow:none!important;}
a:not(.btn){text-decoration:underline;}
img{page-break-inside:avoid;}
p{orphans:3;widows:3;}
.navbar{display:none;}
}
.bg-light{background-color:#ced4da!important;}
.overflow-hidden{overflow:hidden!important;}
@media (min-width:992px){
[class*=ml--]{position:relative;z-index:5;}
}
.avatar{color:#fff;background-color:#adb5bd;display:inline-flex;align-items:center;justify-content:center;font-size:1rem;border-radius:50%;height:48px;width:48px;}
.dropdown{display:inline-block;}
.dropdown-menu{min-width:12rem;}
.dropdown-menu .dropdown-item{padding:1rem;font-size:.875rem;}
.dropdown-menu-xl{min-width:450px;border-radius:.3rem;}
.nav-link{color:#525f7f;}
.nav-link:hover{color:#5e72e4;}
.nav-link i:not(.fa){position:relative;top:2px;}
.navbar-nav .nav-link{font-size:.9rem;font-family:Open Sans,sans-serif;font-weight:400;text-transform:normal;letter-spacing:0;transition:all .15s linear;}
@media (prefers-reduced-motion:reduce){
.navbar-nav .nav-link{transition:none;}
}
.navbar-brand{font-weight:600;text-transform:uppercase;font-size:.875rem;letter-spacing:.05px;}
.navbar-light .navbar-brand{color:#32325d;}
@media (min-width:992px){
.navbar-nav .nav-item{margin-right:.5rem;}
.navbar-nav .nav-item [data-toggle=dropdown]:after{transition:all .15s ease;}
.navbar-nav .nav-link{padding-top:1rem;padding-bottom:1rem;border-radius:.25rem;}
.navbar-nav .nav-link i{margin-right:.625rem;}
.navbar-nav .dropdown-menu{opacity:0;pointer-events:none;margin:0;}
.navbar-nav .dropdown-menu:before{background:#fff;box-shadow:none;content:"";display:block;height:16px;width:16px;left:5px;position:absolute;bottom:100%;transform:rotate(-45deg) translateY(1rem);z-index:-5;border-radius:.2rem;}
.navbar-nav .dropdown-menu-right:before{right:20px;left:auto;}
}
@media (max-width:991.98px){
.navbar-nav .nav-link{padding:.625rem 0;color:#172b4d!important;}
.navbar-nav .dropdown-menu{box-shadow:none;min-width:auto;}
.navbar-collapse{width:calc(100% - 1.4rem);position:absolute;top:0;left:0;right:0;z-index:1050;margin:.7rem;overflow-y:auto;height:auto!important;opacity:0;}
}
p{font-size:1rem;}
p{font-weight:300;line-height:1.7;}
.navbar.dropdown .dropdown-item:hover{transform:scale(1.1);border-radius:.3rem;box-shadow:0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);transition:all .4s ease;background:#fff;}
.navbar .dropdown .dropdown-menu{animation:k .3s cubic-bezier(.23,1,.32,1);transition:all .3s ease;}
.navbar .dropdown .dropdown-menu:before{background:#fff;box-shadow:none;content:"";display:block;height:16px;width:16px;left:5px;position:absolute;bottom:100%;transform:rotate(-45deg) translateY(1rem);z-index:-5;border-radius:.2rem;}
.navbar .dropdown-menu-right{right:0!important;left:auto!important;}
.navbar .dropdown-menu-right:before{right:20px;left:auto!important;}
.navbar .dropdown .dropdown-item{transition:all .2s ease;}
.navbar .dropdown .dropdown-item:active,.navbar .dropdown .dropdown-item:focus:active{color:#212529!important;}
@media (max-width:991.98px){
.navbar .navbar-brand{margin-top:10px;}
}
/*! CSS Used from: http://localhost:3000/assets/vendor/nucleo/css/nucleo.css */
.ni{display:inline-block;font:normal normal normal 14px/1 NucleoIcons;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.ni-bell-55::before{content:"\ea0e";}
/*! CSS Used from: http://localhost:3000/css/addtrip.css */
*,*:after,*::before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
nav a{position:relative;display:inline-block;margin:15px 25px;outline:none;color:#2DCE89;text-decoration:none;text-transform:uppercase;letter-spacing:1px;font-weight:400;text-shadow:0 0 1px rgba(255,255,255,0.3);font-size:1.35em;}
nav a:hover,nav a:focus{outline:none;}
/*! CSS Used keyframes */
