.logo {
  line-height: 50px;
  position: fixed;
  float: left;
  margin: 13px 60px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
  z-index: 1;
  border-bottom: 1px solid #f2f2f2;
  border-width: thin;
  padding: 10.1px;
}

nav ul {
  line-height: 50px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav ul li {
  display: inline-block;
  padding: 10px 38px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
